
Fatbin elf code:
================
arch = sm_75
code version = [1,7]
host = linux
compile_size = 64bit

	code for sm_75

Fatbin elf code:
================
arch = sm_75
code version = [1,7]
host = linux
compile_size = 64bit

	code for sm_75
		Function : _Z19KernelWithLargeArgs15LargeKernelArgsPc
	.headerflags	@"EF_CUDA_TEXMODE_UNIFIED EF_CUDA_64BIT_ADDRESS EF_CUDA_SM75 EF_CUDA_VIRTUAL_SM(EF_CUDA_SM75)"
        /*0000*/                   MOV R1, c[0x0][0x28] ;                                /* 0x00000a0000017a02 */
                                                                                         /* 0x000fe40000000f00 */
        /*0010*/                   ISETP.NE.U32.AND P0, PT, RZ, c[0x0][0x1160], PT ;     /* 0x00045800ff007a0c */
                                                                                         /* 0x000fc80003f05070 */
        /*0020*/                   ISETP.NE.AND.EX P0, PT, RZ, c[0x0][0x1164], PT, P0 ;  /* 0x00045900ff007a0c */
                                                                                         /* 0x000fd80003f05300 */
        /*0030*/              @!P0 EXIT ;                                                /* 0x000000000000894d */
                                                                                         /* 0x000fea0003800000 */
        /*0040*/                   S2R R0, SR_TID.X ;                                    /* 0x0000000000007919 */
                                                                                         /* 0x000e220000002100 */
        /*0050*/                   ULDC.64 UR4, c[0x0][0x1160] ;                         /* 0x0004580000047ab9 */
                                                                                         /* 0x000fc60000000a00 */
        /*0060*/                   S2R R3, SR_CTAID.X ;                                  /* 0x0000000000037919 */
                                                                                         /* 0x000e240000002500 */
        /*0070*/                   IMAD R0, R3, c[0x0][0x0], R0 ;                        /* 0x0000000003007a24 */
                                                                                         /* 0x001fcc00078e0200 */
        /*0080*/                   LDC.U8 R0, c[0x0][R0+0x160] ;                         /* 0x0000580000007b82 */
                                                                                         /* 0x000e240000000000 */
        /*0090*/                   STG.E.U8.SYS [UR4], R0 ;                              /* 0x00000000ff007986 */
                                                                                         /* 0x001fe2000c10e104 */
        /*00a0*/                   EXIT ;                                                /* 0x000000000000794d */
                                                                                         /* 0x000fea0003800000 */
        /*00b0*/                   BRA 0xb0;                                             /* 0xfffffff000007947 */
                                                                                         /* 0x000fc0000383ffff */
        /*00c0*/                   NOP;                                                  /* 0x0000000000007918 */
                                                                                         /* 0x000fc00000000000 */
        /*00d0*/                   NOP;                                                  /* 0x0000000000007918 */
                                                                                         /* 0x000fc00000000000 */
        /*00e0*/                   NOP;                                                  /* 0x0000000000007918 */
                                                                                         /* 0x000fc00000000000 */
        /*00f0*/                   NOP;                                                  /* 0x0000000000007918 */
                                                                                         /* 0x000fc00000000000 */
		..........


		Function : _Z20KernelWithMediumArgs16MediumKernelArgsPc
	.headerflags	@"EF_CUDA_TEXMODE_UNIFIED EF_CUDA_64BIT_ADDRESS EF_CUDA_SM75 EF_CUDA_VIRTUAL_SM(EF_CUDA_SM75)"
        /*0000*/                   MOV R1, c[0x0][0x28] ;                                /* 0x00000a0000017a02 */
                                                                                         /* 0x000fe40000000f00 */
        /*0010*/                   ISETP.NE.U32.AND P0, PT, RZ, c[0x0][0x260], PT ;      /* 0x00009800ff007a0c */
                                                                                         /* 0x000fc80003f05070 */
        /*0020*/                   ISETP.NE.AND.EX P0, PT, RZ, c[0x0][0x264], PT, P0 ;   /* 0x00009900ff007a0c */
                                                                                         /* 0x000fd80003f05300 */
        /*0030*/              @!P0 EXIT ;                                                /* 0x000000000000894d */
                                                                                         /* 0x000fea0003800000 */
        /*0040*/                   S2R R0, SR_TID.X ;                                    /* 0x0000000000007919 */
                                                                                         /* 0x000e220000002100 */
        /*0050*/                   ULDC.64 UR4, c[0x0][0x260] ;                          /* 0x0000980000047ab9 */
                                                                                         /* 0x000fc60000000a00 */
        /*0060*/                   S2R R3, SR_CTAID.X ;                                  /* 0x0000000000037919 */
                                                                                         /* 0x000e240000002500 */
        /*0070*/                   IMAD R0, R3, c[0x0][0x0], R0 ;                        /* 0x0000000003007a24 */
                                                                                         /* 0x001fcc00078e0200 */
        /*0080*/                   LDC.U8 R0, c[0x0][R0+0x160] ;                         /* 0x0000580000007b82 */
                                                                                         /* 0x000e240000000000 */
        /*0090*/                   STG.E.U8.SYS [UR4], R0 ;                              /* 0x00000000ff007986 */
                                                                                         /* 0x001fe2000c10e104 */
        /*00a0*/                   EXIT ;                                                /* 0x000000000000794d */
                                                                                         /* 0x000fea0003800000 */
        /*00b0*/                   BRA 0xb0;                                             /* 0xfffffff000007947 */
                                                                                         /* 0x000fc0000383ffff */
        /*00c0*/                   NOP;                                                  /* 0x0000000000007918 */
                                                                                         /* 0x000fc00000000000 */
        /*00d0*/                   NOP;                                                  /* 0x0000000000007918 */
                                                                                         /* 0x000fc00000000000 */
        /*00e0*/                   NOP;                                                  /* 0x0000000000007918 */
                                                                                         /* 0x000fc00000000000 */
        /*00f0*/                   NOP;                                                  /* 0x0000000000007918 */
                                                                                         /* 0x000fc00000000000 */
		..........


		Function : _Z19KernelWithSmallArgs15SmallKernelArgsPc
	.headerflags	@"EF_CUDA_TEXMODE_UNIFIED EF_CUDA_64BIT_ADDRESS EF_CUDA_SM75 EF_CUDA_VIRTUAL_SM(EF_CUDA_SM75)"
        /*0000*/                   IMAD.MOV.U32 R1, RZ, RZ, c[0x0][0x28] ;               /* 0x00000a00ff017624 */
                                                                                         /* 0x000fe400078e00ff */
        /*0010*/                   LDC.U8 R0, c[0x0][0x16f] ;                            /* 0x00005bc0ff007b82 */
                                                                                         /* 0x000e220000000000 */
        /*0020*/                   ISETP.NE.U32.AND P0, PT, RZ, c[0x0][0x170], PT ;      /* 0x00005c00ff007a0c */
                                                                                         /* 0x000fe40003f05070 */
        /*0030*/                   IADD3 R1, R1, -0x10, RZ ;                             /* 0xfffffff001017810 */
                                                                                         /* 0x000fe40007ffe0ff */
        /*0040*/                   ISETP.NE.AND.EX P0, PT, RZ, c[0x0][0x174], PT, P0 ;   /* 0x00005d00ff007a0c */
                                                                                         /* 0x000fc60003f05300 */
        /*0050*/                   LDC.U8 R2, c[0x0][0x16e] ;                            /* 0x00005b80ff027b82 */
                                                                                         /* 0x000e700000000000 */
        /*0060*/                   LDC.U8 R4, c[0x0][0x16d] ;                            /* 0x00005b40ff047b82 */
                                                                                         /* 0x000eb00000000000 */
        /*0070*/                   LDC.U8 R6, c[0x0][0x16c] ;                            /* 0x00005b00ff067b82 */
                                                                                         /* 0x000ee20000000000 */
        /*0080*/                   STL.U8 [R1+0xf], R0 ;                                 /* 0x00000f0001007387 */
                                                                                         /* 0x0011ee0000100000 */
        /*0090*/                   LDC.U8 R8, c[0x0][0x16b] ;                            /* 0x00005ac0ff087b82 */
                                                                                         /* 0x000f220000000000 */
        /*00a0*/                   STL.U8 [R1+0xe], R2 ;                                 /* 0x00000e0201007387 */
                                                                                         /* 0x0021ee0000100000 */
        /*00b0*/                   LDC.U8 R10, c[0x0][0x16a] ;                           /* 0x00005a80ff0a7b82 */
                                                                                         /* 0x000e620000000000 */
        /*00c0*/                   STL.U8 [R1+0xd], R4 ;                                 /* 0x00000d0401007387 */
                                                                                         /* 0x0041ee0000100000 */
        /*00d0*/                   LDC.U8 R12, c[0x0][0x169] ;                           /* 0x00005a40ff0c7b82 */
                                                                                         /* 0x000ea20000000000 */
        /*00e0*/                   STL.U8 [R1+0xc], R6 ;                                 /* 0x00000c0601007387 */
                                                                                         /* 0x0081ee0000100000 */
        /*00f0*/                   LDC.U8 R14, c[0x0][0x168] ;                           /* 0x00005a00ff0e7b82 */
                                                                                         /* 0x000ee20000000000 */
        /*0100*/                   STL.U8 [R1+0xb], R8 ;                                 /* 0x00000b0801007387 */
                                                                                         /* 0x0101ee0000100000 */
        /*0110*/                   LDC.U8 R16, c[0x0][0x167] ;                           /* 0x000059c0ff107b82 */
                                                                                         /* 0x000f220000000000 */
        /*0120*/                   STL.U8 [R1+0xa], R10 ;                                /* 0x00000a0a01007387 */
                                                                                         /* 0x0021ee0000100000 */
        /*0130*/                   LDC.U8 R18, c[0x0][0x166] ;                           /* 0x00005980ff127b82 */
                                                                                         /* 0x000e620000000000 */
        /*0140*/                   STL.U8 [R1+0x9], R12 ;                                /* 0x0000090c01007387 */
                                                                                         /* 0x0041ee0000100000 */
        /*0150*/                   LDC.U8 R20, c[0x0][0x165] ;                           /* 0x00005940ff147b82 */
                                                                                         /* 0x000ea20000000000 */
        /*0160*/                   STL.U8 [R1+0x8], R14 ;                                /* 0x0000080e01007387 */
                                                                                         /* 0x0081ee0000100000 */
        /*0170*/                   LDC.U8 R22, c[0x0][0x164] ;                           /* 0x00005900ff167b82 */
                                                                                         /* 0x000ee20000000000 */
        /*0180*/                   STL.U8 [R1+0x7], R16 ;                                /* 0x0000071001007387 */
                                                                                         /* 0x0101ee0000100000 */
        /*0190*/                   LDC.U8 R24, c[0x0][0x163] ;                           /* 0x000058c0ff187b82 */
                                                                                         /* 0x000f220000000000 */
        /*01a0*/                   STL.U8 [R1+0x6], R18 ;                                /* 0x0000061201007387 */
                                                                                         /* 0x0021ee0000100000 */
        /*01b0*/                   LDC.U8 R26, c[0x0][0x162] ;                           /* 0x00005880ff1a7b82 */
                                                                                         /* 0x000e620000000000 */
        /*01c0*/                   STL.U8 [R1+0x5], R20 ;                                /* 0x0000051401007387 */
                                                                                         /* 0x0041ee0000100000 */
        /*01d0*/                   LDC.U8 R28, c[0x0][0x161] ;                           /* 0x00005840ff1c7b82 */
                                                                                         /* 0x000ea20000000000 */
        /*01e0*/                   STL.U8 [R1+0x4], R22 ;                                /* 0x0000041601007387 */
                                                                                         /* 0x0081ee0000100000 */
        /*01f0*/                   LDC.U8 R30, c[0x0][0x160] ;                           /* 0x00005800ff1e7b82 */
                                                                                         /* 0x000ee20000000000 */
        /*0200*/                   STL.U8 [R1+0x3], R24 ;                                /* 0x0000031801007387 */
                                                                                         /* 0x0101e80000100000 */
        /*0210*/                   STL.U8 [R1+0x2], R26 ;                                /* 0x0000021a01007387 */
                                                                                         /* 0x0021e80000100000 */
        /*0220*/                   STL.U8 [R1+0x1], R28 ;                                /* 0x0000011c01007387 */
                                                                                         /* 0x0041e80000100000 */
        /*0230*/                   STL.U8 [R1], R30 ;                                    /* 0x0000001e01007387 */
                                                                                         /* 0x0081e20000100000 */
        /*0240*/              @!P0 EXIT ;                                                /* 0x000000000000894d */
                                                                                         /* 0x000fea0003800000 */
        /*0250*/                   S2R R0, SR_TID.X ;                                    /* 0x0000000000007919 */
                                                                                         /* 0x001e280000002100 */
        /*0260*/                   S2R R3, SR_CTAID.X ;                                  /* 0x0000000000037919 */
                                                                                         /* 0x000e240000002500 */
        /*0270*/                   IMAD R0, R3, c[0x0][0x0], R0 ;                        /* 0x0000000003007a24 */
                                                                                         /* 0x001fc800078e0200 */
        /*0280*/                   IMAD.IADD R0, R1, 0x1, R0 ;                           /* 0x0000000101007824 */
                                                                                         /* 0x000fd000078e0200 */
        /*0290*/                   LDL.U8 R0, [R0] ;                                     /* 0x0000000000007983 */
                                                                                         /* 0x000ea20000100000 */
        /*02a0*/                   ULDC.64 UR4, c[0x0][0x170] ;                          /* 0x00005c0000047ab9 */
                                                                                         /* 0x000fc60000000a00 */
        /*02b0*/                   STG.E.U8.SYS [UR4], R0 ;                              /* 0x00000000ff007986 */
                                                                                         /* 0x004fe2000c10e104 */
        /*02c0*/                   EXIT ;                                                /* 0x000000000000794d */
                                                                                         /* 0x000fea0003800000 */
        /*02d0*/                   BRA 0x2d0;                                            /* 0xfffffff000007947 */
                                                                                         /* 0x000fc0000383ffff */
        /*02e0*/                   NOP;                                                  /* 0x0000000000007918 */
                                                                                         /* 0x000fc00000000000 */
        /*02f0*/                   NOP;                                                  /* 0x0000000000007918 */
                                                                                         /* 0x000fc00000000000 */
		..........



Fatbin ptx code:
================
arch = sm_75
code version = [8,5]
host = linux
compile_size = 64bit
compressed
ptxasOptions = 
