
Fatbin elf code:
================
arch = sm_75
code version = [1,7]
host = linux
compile_size = 64bit

	code for sm_75

Fatbin elf code:
================
arch = sm_75
code version = [1,7]
host = linux
compile_size = 64bit

	code for sm_75
		Function : _Z10Relu_impl2iPKiPi
	.headerflags	@"EF_CUDA_TEXMODE_UNIFIED EF_CUDA_64BIT_ADDRESS EF_CUDA_SM75 EF_CUDA_VIRTUAL_SM(EF_CUDA_SM75)"
        /*0000*/                   IMAD.MOV.U32 R1, RZ, RZ, c[0x0][0x28] ;       /* 0x00000a00ff017624 */
                                                                                 /* 0x000fe400078e00ff */
        /*0010*/                   S2R R4, SR_CTAID.X ;                          /* 0x0000000000047919 */
                                                                                 /* 0x000e280000002500 */
        /*0020*/                   S2R R3, SR_TID.X ;                            /* 0x0000000000037919 */
                                                                                 /* 0x000e240000002100 */
        /*0030*/                   IMAD R4, R4, c[0x0][0x0], R3 ;                /* 0x0000000004047a24 */
                                                                                 /* 0x001fca00078e0203 */
        /*0040*/                   ISETP.GE.AND P0, PT, R4, c[0x0][0x160], PT ;  /* 0x0000580004007a0c */
                                                                                 /* 0x000fd80003f06270 */
        /*0050*/               @P0 EXIT ;                                        /* 0x000000000000094d */
                                                                                 /* 0x000fea0003800000 */
        /*0060*/                   IMAD.MOV.U32 R9, RZ, RZ, 0x4 ;                /* 0x00000004ff097424 */
                                                                                 /* 0x000fc800078e00ff */
        /*0070*/                   IMAD.WIDE R2, R4, R9, c[0x0][0x168] ;         /* 0x00005a0004027625 */
                                                                                 /* 0x000fd000078e0209 */
        /*0080*/                   LDG.E.SYS R2, [R2] ;                          /* 0x0000000002027381 */
                                                                                 /* 0x000ea400001ee900 */
        /*0090*/                   LOP3.LUT R0, R2, 0x7f7f7f7f, RZ, 0xc0, !PT ;  /* 0x7f7f7f7f02007812 */
                                                                                 /* 0x004fc800078ec0ff */
        /*00a0*/                   IADD3 R5, R0, 0x7f7f7f7f, RZ ;                /* 0x7f7f7f7f00057810 */
                                                                                 /* 0x000fc80007ffe0ff */
        /*00b0*/                   LOP3.LUT R5, R2, RZ, R5, 0x8e, !PT ;          /* 0x000000ff02057212 */
                                                                                 /* 0x000fc800078e8e05 */
        /*00c0*/                   PRMT R7, R5, 0xba98, RZ ;                     /* 0x0000ba9805077816 */
                                                                                 /* 0x000fe200000000ff */
        /*00d0*/                   IMAD.WIDE R4, R4, R9, c[0x0][0x170] ;         /* 0x00005c0004047625 */
                                                                                 /* 0x000fc600078e0209 */
        /*00e0*/                   LOP3.LUT R7, R7, R2, RZ, 0xc0, !PT ;          /* 0x0000000207077212 */
                                                                                 /* 0x000fd000078ec0ff */
        /*00f0*/                   STG.E.SYS [R4], R7 ;                          /* 0x0000000704007386 */
                                                                                 /* 0x000fe2000010e900 */
        /*0100*/                   EXIT ;                                        /* 0x000000000000794d */
                                                                                 /* 0x000fea0003800000 */
        /*0110*/                   BRA 0x110;                                    /* 0xfffffff000007947 */
                                                                                 /* 0x000fc0000383ffff */
        /*0120*/                   NOP;                                          /* 0x0000000000007918 */
                                                                                 /* 0x000fc00000000000 */
        /*0130*/                   NOP;                                          /* 0x0000000000007918 */
                                                                                 /* 0x000fc00000000000 */
        /*0140*/                   NOP;                                          /* 0x0000000000007918 */
                                                                                 /* 0x000fc00000000000 */
        /*0150*/                   NOP;                                          /* 0x0000000000007918 */
                                                                                 /* 0x000fc00000000000 */
        /*0160*/                   NOP;                                          /* 0x0000000000007918 */
                                                                                 /* 0x000fc00000000000 */
        /*0170*/                   NOP;                                          /* 0x0000000000007918 */
                                                                                 /* 0x000fc00000000000 */
		..........


		Function : _Z10Relu_impl1iPKiPi
	.headerflags	@"EF_CUDA_TEXMODE_UNIFIED EF_CUDA_64BIT_ADDRESS EF_CUDA_SM75 EF_CUDA_VIRTUAL_SM(EF_CUDA_SM75)"
        /*0000*/                   IMAD.MOV.U32 R1, RZ, RZ, c[0x0][0x28] ;       /* 0x00000a00ff017624 */
                                                                                 /* 0x000fe400078e00ff */
        /*0010*/                   S2R R0, SR_CTAID.X ;                          /* 0x0000000000007919 */
                                                                                 /* 0x000e280000002500 */
        /*0020*/                   S2R R3, SR_TID.X ;                            /* 0x0000000000037919 */
                                                                                 /* 0x000e240000002100 */
        /*0030*/                   IMAD R0, R0, c[0x0][0x0], R3 ;                /* 0x0000000000007a24 */
                                                                                 /* 0x001fca00078e0203 */
        /*0040*/                   ISETP.GE.AND P0, PT, R0, c[0x0][0x160], PT ;  /* 0x0000580000007a0c */
                                                                                 /* 0x000fd80003f06270 */
        /*0050*/               @P0 EXIT ;                                        /* 0x000000000000094d */
                                                                                 /* 0x000fea0003800000 */
        /*0060*/                   IMAD.MOV.U32 R9, RZ, RZ, 0x4 ;                /* 0x00000004ff097424 */
                                                                                 /* 0x000fc800078e00ff */
        /*0070*/                   IMAD.WIDE R2, R0, R9, c[0x0][0x168] ;         /* 0x00005a0000027625 */
                                                                                 /* 0x000fd000078e0209 */
        /*0080*/                   LDG.E.SYS R2, [R2] ;                          /* 0x0000000002027381 */
                                                                                 /* 0x000ea400001ee900 */
        /*0090*/                   IMAD.SHL.U32 R4, R2.reuse, 0x100, RZ ;        /* 0x0000010002047824 */
                                                                                 /* 0x044fe200078e00ff */
        /*00a0*/                   PRMT R8, R2.reuse, 0x8880, RZ ;               /* 0x0000888002087816 */
                                                                                 /* 0x040fe200000000ff */
        /*00b0*/                   IMAD.U32 R5, R2, 0x10000, RZ ;                /* 0x0001000002057824 */
                                                                                 /* 0x000fe200078e00ff */
        /*00c0*/                   SHF.R.S32.HI R7, RZ, 0x18, R2 ;               /* 0x00000018ff077819 */
                                                                                 /* 0x000fe20000011402 */
        /*00d0*/                   IMAD.WIDE R2, R0, R9, c[0x0][0x170] ;         /* 0x00005c0000027625 */
                                                                                 /* 0x000fe200078e0209 */
        /*00e0*/                   SHF.R.S32.HI R6, RZ, 0x18, R4 ;               /* 0x00000018ff067819 */
                                                                                 /* 0x000fe40000011404 */
        /*00f0*/                   SHF.R.S32.HI R5, RZ, 0x18, R5 ;               /* 0x00000018ff057819 */
                                                                                 /* 0x000fe20000011405 */
        /*0100*/                   IMAD.MOV.U32 R4, RZ, RZ, R8 ;                 /* 0x000000ffff047224 */
                                                                                 /* 0x000fe200078e0008 */
        /*0110*/                   IMNMX R7, RZ, R7, !PT ;                       /* 0x00000007ff077217 */
                                                                                 /* 0x000fc40007800200 */
        /*0120*/                   IMNMX R6, RZ, R6, !PT ;                       /* 0x00000006ff067217 */
                                                                                 /* 0x000fe40007800200 */
        /*0130*/                   IMNMX R5, RZ, R5, !PT ;                       /* 0x00000005ff057217 */
                                                                                 /* 0x000fe20007800200 */
        /*0140*/                   IMAD.SHL.U32 R7, R7, 0x1000000, RZ ;          /* 0x0100000007077824 */
                                                                                 /* 0x000fe200078e00ff */
        /*0150*/                   IMNMX R4, RZ, R4, !PT ;                       /* 0x00000004ff047217 */
                                                                                 /* 0x000fe20007800200 */
        /*0160*/                   IMAD.U32 R6, R6, 0x10000, RZ ;                /* 0x0001000006067824 */
                                                                                 /* 0x000fe400078e00ff */
        /*0170*/                   IMAD.SHL.U32 R5, R5, 0x100, RZ ;              /* 0x0000010005057824 */
                                                                                 /* 0x000fc600078e00ff */
        /*0180*/                   LOP3.LUT R4, R6, R4, R7, 0xfe, !PT ;          /* 0x0000000406047212 */
                                                                                 /* 0x000fc800078efe07 */
        /*0190*/                   LOP3.LUT R5, R4, R5, RZ, 0xfc, !PT ;          /* 0x0000000504057212 */
                                                                                 /* 0x000fd000078efcff */
        /*01a0*/                   STG.E.SYS [R2], R5 ;                          /* 0x0000000502007386 */
                                                                                 /* 0x000fe2000010e900 */
        /*01b0*/                   EXIT ;                                        /* 0x000000000000794d */
                                                                                 /* 0x000fea0003800000 */
        /*01c0*/                   BRA 0x1c0;                                    /* 0xfffffff000007947 */
                                                                                 /* 0x000fc0000383ffff */
        /*01d0*/                   NOP;                                          /* 0x0000000000007918 */
                                                                                 /* 0x000fc00000000000 */
        /*01e0*/                   NOP;                                          /* 0x0000000000007918 */
                                                                                 /* 0x000fc00000000000 */
        /*01f0*/                   NOP;                                          /* 0x0000000000007918 */
                                                                                 /* 0x000fc00000000000 */
		..........


		Function : _Z14ReluGrad_impl2PK6__halfS1_PS_i
	.headerflags	@"EF_CUDA_TEXMODE_UNIFIED EF_CUDA_64BIT_ADDRESS EF_CUDA_SM75 EF_CUDA_VIRTUAL_SM(EF_CUDA_SM75)"
        /*0000*/                   IMAD.MOV.U32 R1, RZ, RZ, c[0x0][0x28] ;       /* 0x00000a00ff017624 */
                                                                                 /* 0x000fe400078e00ff */
        /*0010*/                   S2R R4, SR_CTAID.X ;                          /* 0x0000000000047919 */
                                                                                 /* 0x000e220000002500 */
        /*0020*/                   MOV R0, c[0x0][0x178] ;                       /* 0x00005e0000007a02 */
                                                                                 /* 0x000fe20000000f00 */
        /*0030*/                   BMOV.32.CLEAR RZ, B0 ;                        /* 0x0000000000ff7355 */
                                                                                 /* 0x000fe20000100000 */
        /*0040*/                   BSSY B0, 0x1f0 ;                              /* 0x000001a000007945 */
                                                                                 /* 0x000fe20003800000 */
        /*0050*/                   S2R R5, SR_TID.X ;                            /* 0x0000000000057919 */
                                                                                 /* 0x000e220000002100 */
        /*0060*/                   SHF.R.S32.HI R0, RZ, 0x1f, R0 ;               /* 0x0000001fff007819 */
                                                                                 /* 0x000fc80000011400 */
        /*0070*/                   LEA.HI R2, R0, c[0x0][0x178], RZ, 0x3 ;       /* 0x00005e0000027a11 */
                                                                                 /* 0x000fc800078f18ff */
        /*0080*/                   SHF.R.S32.HI R9, RZ, 0x3, R2 ;                /* 0x00000003ff097819 */
                                                                                 /* 0x000fe40000011402 */
        /*0090*/                   LOP3.LUT R3, R2, 0xfffffff8, RZ, 0xc0, !PT ;  /* 0xfffffff802037812 */
                                                                                 /* 0x000fc800078ec0ff */
        /*00a0*/                   IADD3 R3, -R3, c[0x0][0x178], RZ ;            /* 0x00005e0003037a10 */
                                                                                 /* 0x000fe20007ffe1ff */
        /*00b0*/                   IMAD R0, R4, c[0x0][0x0], R5 ;                /* 0x0000000004007a24 */
                                                                                 /* 0x001fca00078e0205 */
        /*00c0*/                   ISETP.GE.AND P0, PT, R0.reuse, R9, PT ;       /* 0x000000090000720c */
                                                                                 /* 0x040fe40003f06270 */
        /*00d0*/                   ISETP.GE.AND P1, PT, R0, R3, PT ;             /* 0x000000030000720c */
                                                                                 /* 0x000fd40003f26270 */
        /*00e0*/               @P0 BRA 0x1e0 ;                                   /* 0x000000f000000947 */
                                                                                 /* 0x000fea0003800000 */
        /*00f0*/                   IMAD.MOV.U32 R11, RZ, RZ, 0x10 ;              /* 0x00000010ff0b7424 */
                                                                                 /* 0x000fc800078e00ff */
        /*0100*/                   IMAD.WIDE R4, R0, R11, c[0x0][0x168] ;        /* 0x00005a0000047625 */
                                                                                 /* 0x000fc800078e020b */
        /*0110*/                   IMAD.WIDE R2, R0, R11, c[0x0][0x160] ;        /* 0x0000580000027625 */
                                                                                 /* 0x000fc800078e020b */
        /*0120*/                   LDG.E.128.CONSTANT.SYS R4, [R4] ;             /* 0x0000000004047381 */
                                                                                 /* 0x000ea800001e6d00 */
        /*0130*/                   LDG.E.128.CONSTANT.SYS R12, [R2] ;            /* 0x00000000020c7381 */
                                                                                 /* 0x0004e400001e6d00 */
        /*0140*/                   HSET2.BF.GT.AND R3, R7, RZ.H0_H0, PT ;        /* 0x200000ff07037233 */
                                                                                 /* 0x004fe40003804080 */
        /*0150*/                   HSET2.BF.GT.AND R7, R6, RZ.H0_H0, PT ;        /* 0x200000ff06077233 */
                                                                                 /* 0x000fe40003804080 */
        /*0160*/                   HSET2.BF.GT.AND R6, R4, RZ.H0_H0, PT ;        /* 0x200000ff04067233 */
                                                                                 /* 0x000fc40003804080 */
        /*0170*/                   HSET2.BF.GT.AND R5, R5, RZ.H0_H0, PT ;        /* 0x200000ff05057233 */
                                                                                 /* 0x000fe40003804080 */
        /*0180*/                   HMUL2 R14, R7, R14 ;                          /* 0x0000000e070e7232 */
                                                                                 /* 0x008fe40000000000 */
        /*0190*/                   HMUL2 R12, R6, R12 ;                          /* 0x0000000c060c7232 */
                                                                                 /* 0x000fe40000000000 */
        /*01a0*/                   HMUL2 R15, R3, R15 ;                          /* 0x0000000f030f7232 */
                                                                                 /* 0x000fe20000000000 */
        /*01b0*/                   IMAD.WIDE R6, R0, R11, c[0x0][0x170] ;        /* 0x00005c0000067625 */
                                                                                 /* 0x000fe200078e020b */
        /*01c0*/                   HMUL2 R13, R5, R13 ;                          /* 0x0000000d050d7232 */
                                                                                 /* 0x000fd00000000000 */
        /*01d0*/                   STG.E.128.SYS [R6], R12 ;                     /* 0x0000000c06007386 */
                                                                                 /* 0x0001e4000010ed00 */
        /*01e0*/                   BSYNC B0 ;                                    /* 0x0000000000007941 */
                                                                                 /* 0x000fea0003800000 */
        /*01f0*/               @P1 EXIT ;                                        /* 0x000000000000194d */
                                                                                 /* 0x000fea0003800000 */
        /*0200*/                   LEA R0, R9, R0, 0x3 ;                         /* 0x0000000009007211 */
                                                                                 /* 0x000fe200078e18ff */
        /*0210*/                   IMAD.MOV.U32 R11, RZ, RZ, 0x2 ;               /* 0x00000002ff0b7424 */
                                                                                 /* 0x000fc800078e00ff */
        /*0220*/                   IMAD.WIDE R4, R0, R11, c[0x0][0x168] ;        /* 0x00005a0000047625 */
                                                                                 /* 0x000fc800078e020b */
        /*0230*/                   IMAD.WIDE R2, R0, R11, c[0x0][0x160] ;        /* 0x0000580000027625 */
                                                                                 /* 0x000fc800078e020b */
        /*0240*/                   LDG.E.U16.CONSTANT.SYS R4, [R4] ;             /* 0x0000000004047381 */
                                                                                 /* 0x000ea800001e6500 */
        /*0250*/                   LDG.E.U16.CONSTANT.SYS R2, [R2] ;             /* 0x0000000002027381 */
                                                                                 /* 0x000ee200001e6500 */
        /*0260*/                   HADD2.F32 R7, R4.H0_H0, -RZ.H0_H0 ;           /* 0xa00000ff04077230 */
                                                                                 /* 0x005fe40000004800 */
        /*0270*/                   HADD2.F32 R6, R2.H0_H0, -RZ.H0_H0 ;           /* 0xa00000ff02067230 */
                                                                                 /* 0x008fcc0000004800 */
        /*0280*/                   FSETP.GT.AND P0, PT, R7, RZ, PT ;             /* 0x000000ff0700720b */
                                                                                 /* 0x000fc80003f04000 */
        /*0290*/                   FSEL R8, R6, RZ, P0 ;                         /* 0x000000ff06087208 */
                                                                                 /* 0x000fe20000000000 */
        /*02a0*/                   IMAD.WIDE R6, R0, R11, c[0x0][0x170] ;        /* 0x00005c0000067625 */
                                                                                 /* 0x000fca00078e020b */
        /*02b0*/                   F2F.F16.F32 R9, R8 ;                          /* 0x0000000800097304 */
                                                                                 /* 0x000e260000200800 */
        /*02c0*/                   STG.E.U16.SYS [R6], R9 ;                      /* 0x0000000906007386 */
                                                                                 /* 0x001fe2000010e500 */
        /*02d0*/                   EXIT ;                                        /* 0x000000000000794d */
                                                                                 /* 0x000fea0003800000 */
        /*02e0*/                   BRA 0x2e0;                                    /* 0xfffffff000007947 */
                                                                                 /* 0x000fc0000383ffff */
        /*02f0*/                   NOP;                                          /* 0x0000000000007918 */
                                                                                 /* 0x000fc00000000000 */
		..........


		Function : _Z14ReluGrad_impl1PK6__halfS1_PS_i
	.headerflags	@"EF_CUDA_TEXMODE_UNIFIED EF_CUDA_64BIT_ADDRESS EF_CUDA_SM75 EF_CUDA_VIRTUAL_SM(EF_CUDA_SM75)"
        /*0000*/                   IMAD.MOV.U32 R1, RZ, RZ, c[0x0][0x28] ;       /* 0x00000a00ff017624 */
                                                                                 /* 0x000fe400078e00ff */
        /*0010*/                   S2R R9, SR_CTAID.X ;                          /* 0x0000000000097919 */
                                                                                 /* 0x000e220000002500 */
        /*0020*/                   MOV R8, c[0x0][0x178] ;                       /* 0x00005e0000087a02 */
                                                                                 /* 0x000fe20000000f00 */
        /*0030*/                   BMOV.32.CLEAR RZ, B0 ;                        /* 0x0000000000ff7355 */
                                                                                 /* 0x000fe20000100000 */
        /*0040*/                   BSSY B0, 0x190 ;                              /* 0x0000014000007945 */
                                                                                 /* 0x000fe20003800000 */
        /*0050*/                   S2R R0, SR_TID.X ;                            /* 0x0000000000007919 */
                                                                                 /* 0x000e220000002100 */
        /*0060*/                   LOP3.LUT R12, R8, 0x1, RZ, 0xc0, !PT ;        /* 0x00000001080c7812 */
                                                                                 /* 0x000fe200078ec0ff */
        /*0070*/                   IMAD R9, R9, c[0x0][0x0], R0 ;                /* 0x0000000009097a24 */
                                                                                 /* 0x001fe200078e0200 */
        /*0080*/                   SHF.R.S32.HI R0, RZ, 0x1, R8 ;                /* 0x00000001ff007819 */
                                                                                 /* 0x000fc80000011408 */
        /*0090*/                   ISETP.GE.AND P0, PT, R9, R0, PT ;             /* 0x000000000900720c */
                                                                                 /* 0x000fd80003f06270 */
        /*00a0*/               @P0 BRA 0x180 ;                                   /* 0x000000d000000947 */
                                                                                 /* 0x000fea0003800000 */
        /*00b0*/                   IMAD.MOV.U32 R6, RZ, RZ, 0x4 ;                /* 0x00000004ff067424 */
                                                                                 /* 0x001fc800078e00ff */
        /*00c0*/                   IMAD.WIDE R4, R9, R6, c[0x0][0x168] ;         /* 0x00005a0009047625 */
                                                                                 /* 0x000fc800078e0206 */
        /*00d0*/                   IMAD.WIDE R2, R9, R6, c[0x0][0x160] ;         /* 0x0000580009027625 */
                                                                                 /* 0x000fc800078e0206 */
        /*00e0*/                   LDG.E.CONSTANT.SYS R4, [R4] ;                 /* 0x0000000004047381 */
                                                                                 /* 0x000ea800001e6900 */
        /*00f0*/                   LDG.E.CONSTANT.SYS R2, [R2] ;                 /* 0x0000000002027381 */
                                                                                 /* 0x0004e200001e6900 */
        /*0100*/                   IMAD.WIDE R6, R9, R6, c[0x0][0x170] ;         /* 0x00005c0009067625 */
                                                                                 /* 0x000fe200078e0206 */
        /*0110*/                   MOV R10, c[0x0][0xc] ;                        /* 0x00000300000a7a02 */
                                                                                 /* 0x000fca0000000f00 */
        /*0120*/                   IMAD R9, R10, c[0x0][0x0], R9 ;               /* 0x000000000a097a24 */
                                                                                 /* 0x000fca00078e0209 */
        /*0130*/                   ISETP.GE.AND P0, PT, R9, R0, PT ;             /* 0x000000000900720c */
                                                                                 /* 0x000fe20003f06270 */
        /*0140*/                   HSET2.BF.GT.AND R3, R4, RZ.H0_H0, PT ;        /* 0x200000ff04037233 */
                                                                                 /* 0x004fcc0003804080 */
        /*0150*/                   HMUL2 R11, R3, R2 ;                           /* 0x00000002030b7232 */
                                                                                 /* 0x008fd00000000000 */
        /*0160*/                   STG.E.SYS [R6], R11 ;                         /* 0x0000000b06007386 */
                                                                                 /* 0x0001e2000010e900 */
        /*0170*/              @!P0 BRA 0xb0 ;                                    /* 0xffffff3000008947 */
                                                                                 /* 0x000fea000383ffff */
        /*0180*/                   BSYNC B0 ;                                    /* 0x0000000000007941 */
                                                                                 /* 0x000fea0003800000 */
        /*0190*/                   ISETP.NE.AND P0, PT, R9, R0, PT ;             /* 0x000000000900720c */
                                                                                 /* 0x000fc80003f05270 */
        /*01a0*/                   ISETP.NE.U32.OR P0, PT, R12, 0x1, P0 ;        /* 0x000000010c00780c */
                                                                                 /* 0x000fd80000705470 */
        /*01b0*/               @P0 EXIT ;                                        /* 0x000000000000094d */
                                                                                 /* 0x000fea0003800000 */
        /*01c0*/                   IADD3 R6, R8, -0x1, RZ ;                      /* 0xffffffff08067810 */
                                                                                 /* 0x001fe20007ffe0ff */
        /*01d0*/                   IMAD.MOV.U32 R11, RZ, RZ, 0x2 ;               /* 0x00000002ff0b7424 */
                                                                                 /* 0x000fc800078e00ff */
        /*01e0*/                   IMAD.WIDE R4, R6, R11, c[0x0][0x168] ;        /* 0x00005a0006047625 */
                                                                                 /* 0x000fc800078e020b */
        /*01f0*/                   IMAD.WIDE R2, R6, R11, c[0x0][0x160] ;        /* 0x0000580006027625 */
                                                                                 /* 0x000fc800078e020b */
        /*0200*/                   LDG.E.U16.CONSTANT.SYS R4, [R4] ;             /* 0x0000000004047381 */
                                                                                 /* 0x000ea800001e6500 */
        /*0210*/                   LDG.E.U16.CONSTANT.SYS R2, [R2] ;             /* 0x0000000002027381 */
                                                                                 /* 0x000ee200001e6500 */
        /*0220*/                   HADD2.F32 R7, R4.H0_H0, -RZ.H0_H0 ;           /* 0xa00000ff04077230 */
                                                                                 /* 0x004fe40000004800 */
        /*0230*/                   HADD2.F32 R0, R2.H0_H0, -RZ.H0_H0 ;           /* 0xa00000ff02007230 */
                                                                                 /* 0x008fcc0000004800 */
        /*0240*/                   FSETP.GT.AND P0, PT, R7, RZ, PT ;             /* 0x000000ff0700720b */
                                                                                 /* 0x000fe20003f04000 */
        /*0250*/                   IMAD.WIDE R6, R6, R11, c[0x0][0x170] ;        /* 0x00005c0006067625 */
                                                                                 /* 0x000fc600078e020b */
        /*0260*/                   FSEL R0, R0, RZ, P0 ;                         /* 0x000000ff00007208 */
                                                                                 /* 0x000fcc0000000000 */
        /*0270*/                   F2F.F16.F32 R9, R0 ;                          /* 0x0000000000097304 */
                                                                                 /* 0x000e240000200800 */
        /*0280*/                   STG.E.U16.SYS [R6], R9 ;                      /* 0x0000000906007386 */
                                                                                 /* 0x001fe2000010e500 */
        /*0290*/                   EXIT ;                                        /* 0x000000000000794d */
                                                                                 /* 0x000fea0003800000 */
        /*02a0*/                   BRA 0x2a0;                                    /* 0xfffffff000007947 */
                                                                                 /* 0x000fc0000383ffff */
        /*02b0*/                   NOP;                                          /* 0x0000000000007918 */
                                                                                 /* 0x000fc00000000000 */
        /*02c0*/                   NOP;                                          /* 0x0000000000007918 */
                                                                                 /* 0x000fc00000000000 */
        /*02d0*/                   NOP;                                          /* 0x0000000000007918 */
                                                                                 /* 0x000fc00000000000 */
        /*02e0*/                   NOP;                                          /* 0x0000000000007918 */
                                                                                 /* 0x000fc00000000000 */
        /*02f0*/                   NOP;                                          /* 0x0000000000007918 */
                                                                                 /* 0x000fc00000000000 */
		..........



Fatbin ptx code:
================
arch = sm_75
code version = [8,5]
host = linux
compile_size = 64bit
compressed
ptxasOptions = 
