
Fatbin elf code:
================
arch = sm_90
code version = [1,7]
host = linux
compile_size = 64bit

	code for sm_90

Fatbin elf code:
================
arch = sm_90
code version = [1,7]
host = linux
compile_size = 64bit

	code for sm_90
		Function : _Z10Relu_impl2iPKiPi
	.headerflags	@"EF_CUDA_TEXMODE_UNIFIED EF_CUDA_64BIT_ADDRESS EF_CUDA_SM90 EF_CUDA_VIRTUAL_SM(EF_CUDA_SM90)"
        /*0000*/                   LDC R1, c[0x0][0x28] ;                        /* 0x00000a00ff017b82 */
                                                                                 /* 0x000e240000000800 */
        /*0010*/                   S2R R0, SR_TID.X ;                            /* 0x0000000000007919 */
                                                                                 /* 0x000e620000002100 */
        /*0020*/                   S2UR UR4, SR_CTAID.X ;                        /* 0x00000000000479c3 */
                                                                                 /* 0x000e700000002500 */
        /*0030*/                   LDC R7, c[0x0][RZ] ;                          /* 0x00000000ff077b82 */
                                                                                 /* 0x000e640000000800 */
        /*0040*/                   IMAD R7, R7, UR4, R0 ;                        /* 0x0000000407077c24 */
                                                                                 /* 0x002fe2000f8e0200 */
        /*0050*/                   ULDC UR4, c[0x0][0x210] ;                     /* 0x0000840000047ab9 */
                                                                                 /* 0x000fc80000000800 */
        /*0060*/                   ISETP.GE.AND P0, PT, R7, UR4, PT ;            /* 0x0000000407007c0c */
                                                                                 /* 0x000fda000bf06270 */
        /*0070*/               @P0 EXIT ;                                        /* 0x000000000000094d */
                                                                                 /* 0x000fea0003800000 */
        /*0080*/                   LDC.64 R2, c[0x0][0x218] ;                    /* 0x00008600ff027b82 */
                                                                                 /* 0x000e220000000a00 */
        /*0090*/                   ULDC.64 UR4, c[0x0][0x208] ;                  /* 0x0000820000047ab9 */
                                                                                 /* 0x000fce0000000a00 */
        /*00a0*/                   LDC.64 R4, c[0x0][0x220] ;                    /* 0x00008800ff047b82 */
                                                                                 /* 0x000e620000000a00 */
        /*00b0*/                   IMAD.WIDE R2, R7, 0x4, R2 ;                   /* 0x0000000407027825 */
                                                                                 /* 0x001fcc00078e0202 */
        /*00c0*/                   LDG.E R2, desc[UR4][R2.64] ;                  /* 0x0000000402027981 */
                                                                                 /* 0x000ea2000c1e1900 */
        /*00d0*/                   IMAD.WIDE R4, R7, 0x4, R4 ;                   /* 0x0000000407047825 */
                                                                                 /* 0x002fe200078e0204 */
        /*00e0*/                   LOP3.LUT R0, R2, 0x7f7f7f7f, RZ, 0xc0, !PT ;  /* 0x7f7f7f7f02007812 */
                                                                                 /* 0x004fca00078ec0ff */
        /*00f0*/                   VIADD R9, R0, 0x7f7f7f7f ;                    /* 0x7f7f7f7f00097836 */
                                                                                 /* 0x000fca0000000000 */
        /*0100*/                   LOP3.LUT R9, R2, RZ, R9, 0x8e, !PT ;          /* 0x000000ff02097212 */
                                                                                 /* 0x000fc800078e8e09 */
        /*0110*/                   PRMT R9, R9, 0xba98, RZ ;                     /* 0x0000ba9809097816 */
                                                                                 /* 0x000fc800000000ff */
        /*0120*/                   LOP3.LUT R9, R9, R2, RZ, 0xc0, !PT ;          /* 0x0000000209097212 */
                                                                                 /* 0x000fca00078ec0ff */
        /*0130*/                   STG.E desc[UR4][R4.64], R9 ;                  /* 0x0000000904007986 */
                                                                                 /* 0x000fe2000c101904 */
        /*0140*/                   EXIT ;                                        /* 0x000000000000794d */
                                                                                 /* 0x000fea0003800000 */
        /*0150*/                   BRA 0x150;                                    /* 0xfffffffc00fc7947 */
                                                                                 /* 0x000fc0000383ffff */
        /*0160*/                   NOP;                                          /* 0x0000000000007918 */
                                                                                 /* 0x000fc00000000000 */
        /*0170*/                   NOP;                                          /* 0x0000000000007918 */
                                                                                 /* 0x000fc00000000000 */
        /*0180*/                   NOP;                                          /* 0x0000000000007918 */
                                                                                 /* 0x000fc00000000000 */
        /*0190*/                   NOP;                                          /* 0x0000000000007918 */
                                                                                 /* 0x000fc00000000000 */
        /*01a0*/                   NOP;                                          /* 0x0000000000007918 */
                                                                                 /* 0x000fc00000000000 */
        /*01b0*/                   NOP;                                          /* 0x0000000000007918 */
                                                                                 /* 0x000fc00000000000 */
        /*01c0*/                   NOP;                                          /* 0x0000000000007918 */
                                                                                 /* 0x000fc00000000000 */
        /*01d0*/                   NOP;                                          /* 0x0000000000007918 */
                                                                                 /* 0x000fc00000000000 */
        /*01e0*/                   NOP;                                          /* 0x0000000000007918 */
                                                                                 /* 0x000fc00000000000 */
        /*01f0*/                   NOP;                                          /* 0x0000000000007918 */
                                                                                 /* 0x000fc00000000000 */
		..........


		Function : _Z10Relu_impl1iPKiPi
	.headerflags	@"EF_CUDA_TEXMODE_UNIFIED EF_CUDA_64BIT_ADDRESS EF_CUDA_SM90 EF_CUDA_VIRTUAL_SM(EF_CUDA_SM90)"
        /*0000*/                   LDC R1, c[0x0][0x28] ;                        /* 0x00000a00ff017b82 */
                                                                                 /* 0x000e240000000800 */
        /*0010*/                   S2R R0, SR_TID.X ;                            /* 0x0000000000007919 */
                                                                                 /* 0x000e620000002100 */
        /*0020*/                   S2UR UR4, SR_CTAID.X ;                        /* 0x00000000000479c3 */
                                                                                 /* 0x000e700000002500 */
        /*0030*/                   LDC R7, c[0x0][RZ] ;                          /* 0x00000000ff077b82 */
                                                                                 /* 0x000e640000000800 */
        /*0040*/                   IMAD R7, R7, UR4, R0 ;                        /* 0x0000000407077c24 */
                                                                                 /* 0x002fe2000f8e0200 */
        /*0050*/                   ULDC UR4, c[0x0][0x210] ;                     /* 0x0000840000047ab9 */
                                                                                 /* 0x000fc80000000800 */
        /*0060*/                   ISETP.GE.AND P0, PT, R7, UR4, PT ;            /* 0x0000000407007c0c */
                                                                                 /* 0x000fda000bf06270 */
        /*0070*/               @P0 EXIT ;                                        /* 0x000000000000094d */
                                                                                 /* 0x000fea0003800000 */
        /*0080*/                   LDC.64 R4, c[0x0][0x218] ;                    /* 0x00008600ff047b82 */
                                                                                 /* 0x000e220000000a00 */
        /*0090*/                   ULDC.64 UR4, c[0x0][0x208] ;                  /* 0x0000820000047ab9 */
                                                                                 /* 0x000fce0000000a00 */
        /*00a0*/                   LDC.64 R2, c[0x0][0x220] ;                    /* 0x00008800ff027b82 */
                                                                                 /* 0x000e620000000a00 */
        /*00b0*/                   IMAD.WIDE R4, R7, 0x4, R4 ;                   /* 0x0000000407047825 */
                                                                                 /* 0x001fcc00078e0204 */
        /*00c0*/                   LDG.E R4, desc[UR4][R4.64] ;                  /* 0x0000000404047981 */
                                                                                 /* 0x000ea2000c1e1900 */
        /*00d0*/                   IMAD.WIDE R2, R7, 0x4, R2 ;                   /* 0x0000000407027825 */
                                                                                 /* 0x002fc800078e0202 */
        /*00e0*/                   IMAD.SHL.U32 R0, R4.reuse, 0x100, RZ ;        /* 0x0000010004007824 */
                                                                                 /* 0x044fe200078e00ff */
        /*00f0*/                   PRMT R10, R4.reuse, 0x8880, RZ ;              /* 0x00008880040a7816 */
                                                                                 /* 0x040fe200000000ff */
        /*0100*/                   IMAD.U32 R6, R4, 0x10000, RZ ;                /* 0x0001000004067824 */
                                                                                 /* 0x000fe200078e00ff */
        /*0110*/                   SHF.R.S32.HI R9, RZ, 0x18, R4 ;               /* 0x00000018ff097819 */
                                                                                 /* 0x000fe40000011404 */
        /*0120*/                   SHF.R.S32.HI R8, RZ, 0x18, R0 ;               /* 0x00000018ff087819 */
                                                                                 /* 0x000fe20000011400 */
        /*0130*/                   IMAD.MOV.U32 R0, RZ, RZ, R10 ;                /* 0x000000ffff007224 */
                                                                                 /* 0x000fe200078e000a */
        /*0140*/                   SHF.R.S32.HI R6, RZ, 0x18, R6 ;               /* 0x00000018ff067819 */
                                                                                 /* 0x000fe40000011406 */
        /*0150*/                   VIMNMX R9, RZ, R9, !PT ;                      /* 0x00000009ff097248 */
                                                                                 /* 0x000fe40007fe0100 */
        /*0160*/                   VIMNMX R8, RZ, R8, !PT ;                      /* 0x00000008ff087248 */
                                                                                 /* 0x000fc40007fe0100 */
        /*0170*/                   VIMNMX R6, RZ, R6, !PT ;                      /* 0x00000006ff067248 */
                                                                                 /* 0x000fe20007fe0100 */
        /*0180*/                   IMAD.SHL.U32 R9, R9, 0x1000000, RZ ;          /* 0x0100000009097824 */
                                                                                 /* 0x000fe200078e00ff */
        /*0190*/                   VIMNMX R0, RZ, R0, !PT ;                      /* 0x00000000ff007248 */
                                                                                 /* 0x000fe20007fe0100 */
        /*01a0*/                   IMAD.U32 R8, R8, 0x10000, RZ ;                /* 0x0001000008087824 */
                                                                                 /* 0x000fe400078e00ff */
        /*01b0*/                   IMAD.SHL.U32 R6, R6, 0x100, RZ ;              /* 0x0000010006067824 */
                                                                                 /* 0x000fc600078e00ff */
        /*01c0*/                   LOP3.LUT R9, R8, R0, R9, 0xfe, !PT ;          /* 0x0000000008097212 */
                                                                                 /* 0x000fc800078efe09 */
        /*01d0*/                   LOP3.LUT R9, R9, R6, RZ, 0xfc, !PT ;          /* 0x0000000609097212 */
                                                                                 /* 0x000fca00078efcff */
        /*01e0*/                   STG.E desc[UR4][R2.64], R9 ;                  /* 0x0000000902007986 */
                                                                                 /* 0x000fe2000c101904 */
        /*01f0*/                   EXIT ;                                        /* 0x000000000000794d */
                                                                                 /* 0x000fea0003800000 */
        /*0200*/                   BRA 0x200;                                    /* 0xfffffffc00fc7947 */
                                                                                 /* 0x000fc0000383ffff */
        /*0210*/                   NOP;                                          /* 0x0000000000007918 */
                                                                                 /* 0x000fc00000000000 */
        /*0220*/                   NOP;                                          /* 0x0000000000007918 */
                                                                                 /* 0x000fc00000000000 */
        /*0230*/                   NOP;                                          /* 0x0000000000007918 */
                                                                                 /* 0x000fc00000000000 */
        /*0240*/                   NOP;                                          /* 0x0000000000007918 */
                                                                                 /* 0x000fc00000000000 */
        /*0250*/                   NOP;                                          /* 0x0000000000007918 */
                                                                                 /* 0x000fc00000000000 */
        /*0260*/                   NOP;                                          /* 0x0000000000007918 */
                                                                                 /* 0x000fc00000000000 */
        /*0270*/                   NOP;                                          /* 0x0000000000007918 */
                                                                                 /* 0x000fc00000000000 */
        /*0280*/                   NOP;                                          /* 0x0000000000007918 */
                                                                                 /* 0x000fc00000000000 */
        /*0290*/                   NOP;                                          /* 0x0000000000007918 */
                                                                                 /* 0x000fc00000000000 */
        /*02a0*/                   NOP;                                          /* 0x0000000000007918 */
                                                                                 /* 0x000fc00000000000 */
        /*02b0*/                   NOP;                                          /* 0x0000000000007918 */
                                                                                 /* 0x000fc00000000000 */
        /*02c0*/                   NOP;                                          /* 0x0000000000007918 */
                                                                                 /* 0x000fc00000000000 */
        /*02d0*/                   NOP;                                          /* 0x0000000000007918 */
                                                                                 /* 0x000fc00000000000 */
        /*02e0*/                   NOP;                                          /* 0x0000000000007918 */
                                                                                 /* 0x000fc00000000000 */
        /*02f0*/                   NOP;                                          /* 0x0000000000007918 */
                                                                                 /* 0x000fc00000000000 */
		..........


		Function : _Z14ReluGrad_impl2PK6__halfS1_PS_i
	.headerflags	@"EF_CUDA_TEXMODE_UNIFIED EF_CUDA_64BIT_ADDRESS EF_CUDA_SM90 EF_CUDA_VIRTUAL_SM(EF_CUDA_SM90)"
        /*0000*/                   LDC R1, c[0x0][0x28] ;                        /* 0x00000a00ff017b82 */
                                                                                 /* 0x000e240000000800 */
        /*0010*/                   LDC R7, c[0x0][0x228] ;                       /* 0x00008a00ff077b82 */
                                                                                 /* 0x000e620000000800 */
        /*0020*/                   S2R R4, SR_CTAID.X ;                          /* 0x0000000000047919 */
                                                                                 /* 0x000ea20000002500 */
        /*0030*/                   ULDC UR4, c[0x0][0x0] ;                       /* 0x0000000000047ab9 */
                                                                                 /* 0x000fe20000000800 */
        /*0040*/                   BSSY B0, 0x220 ;                              /* 0x000001d000007945 */
                                                                                 /* 0x000fe20003800000 */
        /*0050*/                   S2R R5, SR_TID.X ;                            /* 0x0000000000057919 */
                                                                                 /* 0x000ea20000002100 */
        /*0060*/                   SHF.R.S32.HI R0, RZ, 0x1f, R7 ;               /* 0x0000001fff007819 */
                                                                                 /* 0x002fc80000011407 */
        /*0070*/                   LEA.HI R3, R0, R7, RZ, 0x3 ;                  /* 0x0000000700037211 */
                                                                                 /* 0x000fc800078f18ff */
        /*0080*/                   LOP3.LUT R2, R3, 0xfffffff8, RZ, 0xc0, !PT ;  /* 0xfffffff803027812 */
                                                                                 /* 0x000fe400078ec0ff */
        /*0090*/                   SHF.R.S32.HI R3, RZ, 0x3, R3 ;                /* 0x00000003ff037819 */
                                                                                 /* 0x000fe20000011403 */
        /*00a0*/                   IMAD R0, R4, UR4, R5 ;                        /* 0x0000000404007c24 */
                                                                                 /* 0x004fe2000f8e0205 */
        /*00b0*/                   IADD3 R5, -R2, R7, RZ ;                       /* 0x0000000702057210 */
                                                                                 /* 0x000fe20007ffe1ff */
        /*00c0*/                   ULDC.64 UR4, c[0x0][0x208] ;                  /* 0x0000820000047ab9 */
                                                                                 /* 0x000fc60000000a00 */
        /*00d0*/                   ISETP.GE.AND P0, PT, R0.reuse, R3, PT ;       /* 0x000000030000720c */
                                                                                 /* 0x040fe40003f06270 */
        /*00e0*/                   ISETP.GE.AND P1, PT, R0, R5, PT ;             /* 0x000000050000720c */
                                                                                 /* 0x000fd60003f26270 */
        /*00f0*/               @P0 BRA 0x210 ;                                   /* 0x0000000000440947 */
                                                                                 /* 0x000fea0003800000 */
        /*0100*/                   LDC.64 R8, c[0x0][0x218] ;                    /* 0x00008600ff087b82 */
                                                                                 /* 0x000e700000000a00 */
        /*0110*/                   LDC.64 R12, c[0x0][0x210] ;                   /* 0x00008400ff0c7b82 */
                                                                                 /* 0x000eb00000000a00 */
        /*0120*/                   LDC.64 R14, c[0x0][0x220] ;                   /* 0x00008800ff0e7b82 */
                                                                                 /* 0x000ee20000000a00 */
        /*0130*/                   IMAD.WIDE R8, R0, 0x10, R8 ;                  /* 0x0000001000087825 */
                                                                                 /* 0x002fcc00078e0208 */
        /*0140*/                   LDG.E.128.CONSTANT R8, desc[UR4][R8.64] ;     /* 0x0000000408087981 */
                                                                                 /* 0x000f22000c1e9d00 */
        /*0150*/                   IMAD.WIDE R12, R0, 0x10, R12 ;                /* 0x00000010000c7825 */
                                                                                 /* 0x004fca00078e020c */
        /*0160*/                   LDG.E.128.CONSTANT R4, desc[UR4][R12.64] ;    /* 0x000000040c047981 */
                                                                                 /* 0x000ea2000c1e9d00 */
        /*0170*/                   HSET2.BF.GT.AND R11, R11, RZ.H0_H0, PT ;      /* 0x200000ff0b0b7233 */
                                                                                 /* 0x010fe40003804080 */
        /*0180*/                   HSET2.BF.GT.AND R9, R9, RZ.H0_H0, PT ;        /* 0x200000ff09097233 */
                                                                                 /* 0x000fe40003804080 */
        /*0190*/                   HSET2.BF.GT.AND R10, R10, RZ.H0_H0, PT ;      /* 0x200000ff0a0a7233 */
                                                                                 /* 0x000fe40003804080 */
        /*01a0*/                   HSET2.BF.GT.AND R2, R8, RZ.H0_H0, PT ;        /* 0x200000ff08027233 */
                                                                                 /* 0x000fe20003804080 */
        /*01b0*/                   HFMA2.MMA R7, R11, R7, -RZ ;                  /* 0x000000070b077235 */
                                                                                 /* 0x004fe400001000ff */
        /*01c0*/                   HFMA2.MMA R5, R9, R5, -RZ ;                   /* 0x0000000509057235 */
                                                                                 /* 0x000fe200001000ff */
        /*01d0*/                   HMUL2 R6, R10, R6 ;                           /* 0x000000060a067232 */
                                                                                 /* 0x000fc40000000000 */
        /*01e0*/                   IMAD.WIDE R8, R0, 0x10, R14 ;                 /* 0x0000001000087825 */
                                                                                 /* 0x008fc800078e020e */
        /*01f0*/                   HMUL2 R4, R2, R4 ;                            /* 0x0000000402047232 */
                                                                                 /* 0x000fca0000000000 */
        /*0200*/                   STG.E.128 desc[UR4][R8.64], R4 ;              /* 0x0000000408007986 */
                                                                                 /* 0x0003e4000c101d04 */
        /*0210*/                   BSYNC B0 ;                                    /* 0x0000000000007941 */
                                                                                 /* 0x000fea0003800000 */
        /*0220*/               @P1 EXIT ;                                        /* 0x000000000000194d */
                                                                                 /* 0x000fea0003800000 */
        /*0230*/                   LDC.64 R4, c[0x0][0x218] ;                    /* 0x00008600ff047b82 */
                                                                                 /* 0x002e220000000a00 */
        /*0240*/                   LEA R9, R3, R0, 0x3 ;                         /* 0x0000000003097211 */
                                                                                 /* 0x000fce00078e18ff */
        /*0250*/                   LDC.64 R6, c[0x0][0x210] ;                    /* 0x00008400ff067b82 */
                                                                                 /* 0x000e620000000a00 */
        /*0260*/                   IMAD.WIDE R4, R9, 0x2, R4 ;                   /* 0x0000000209047825 */
                                                                                 /* 0x001fcc00078e0204 */
        /*0270*/                   LDG.E.U16.CONSTANT R4, desc[UR4][R4.64] ;     /* 0x0000000404047981 */
                                                                                 /* 0x000ea2000c1e9500 */
        /*0280*/                   IMAD.WIDE R2, R9.reuse, 0x2, R6 ;             /* 0x0000000209027825 */
                                                                                 /* 0x042fe400078e0206 */
        /*0290*/                   LDC.64 R6, c[0x0][0x220] ;                    /* 0x00008800ff067b82 */
                                                                                 /* 0x000e280000000a00 */
        /*02a0*/                   LDG.E.U16.CONSTANT R2, desc[UR4][R2.64] ;     /* 0x0000000402027981 */
                                                                                 /* 0x000ee2000c1e9500 */
        /*02b0*/                   IMAD.WIDE R6, R9, 0x2, R6 ;                   /* 0x0000000209067825 */
                                                                                 /* 0x001fc800078e0206 */
        /*02c0*/                   HADD2.F32 R8, -RZ, R4.H0_H0 ;                 /* 0x20000004ff087230 */
                                                                                 /* 0x004fca0000004100 */
        /*02d0*/                   FSETP.GT.AND P0, PT, R8, RZ, PT ;             /* 0x000000ff0800720b */
                                                                                 /* 0x000fe20003f04000 */
        /*02e0*/                   HADD2.F32 R0, -RZ, R2.H0_H0 ;                 /* 0x20000002ff007230 */
                                                                                 /* 0x008fca0000004100 */
        /*02f0*/                   FSEL R0, R0, RZ, P0 ;                         /* 0x000000ff00007208 */
                                                                                 /* 0x000fc80000000000 */
        /*0300*/                   F2FP.F16.F32.PACK_AB R0, RZ, R0 ;             /* 0x00000000ff00723e */
                                                                                 /* 0x000fca00000000ff */
        /*0310*/                   STG.E.U16 desc[UR4][R6.64], R0 ;              /* 0x0000000006007986 */
                                                                                 /* 0x000fe2000c101504 */
        /*0320*/                   EXIT ;                                        /* 0x000000000000794d */
                                                                                 /* 0x000fea0003800000 */
        /*0330*/                   BRA 0x330;                                    /* 0xfffffffc00fc7947 */
                                                                                 /* 0x000fc0000383ffff */
        /*0340*/                   NOP;                                          /* 0x0000000000007918 */
                                                                                 /* 0x000fc00000000000 */
        /*0350*/                   NOP;                                          /* 0x0000000000007918 */
                                                                                 /* 0x000fc00000000000 */
        /*0360*/                   NOP;                                          /* 0x0000000000007918 */
                                                                                 /* 0x000fc00000000000 */
        /*0370*/                   NOP;                                          /* 0x0000000000007918 */
                                                                                 /* 0x000fc00000000000 */
        /*0380*/                   NOP;                                          /* 0x0000000000007918 */
                                                                                 /* 0x000fc00000000000 */
        /*0390*/                   NOP;                                          /* 0x0000000000007918 */
                                                                                 /* 0x000fc00000000000 */
        /*03a0*/                   NOP;                                          /* 0x0000000000007918 */
                                                                                 /* 0x000fc00000000000 */
        /*03b0*/                   NOP;                                          /* 0x0000000000007918 */
                                                                                 /* 0x000fc00000000000 */
        /*03c0*/                   NOP;                                          /* 0x0000000000007918 */
                                                                                 /* 0x000fc00000000000 */
        /*03d0*/                   NOP;                                          /* 0x0000000000007918 */
                                                                                 /* 0x000fc00000000000 */
        /*03e0*/                   NOP;                                          /* 0x0000000000007918 */
                                                                                 /* 0x000fc00000000000 */
        /*03f0*/                   NOP;                                          /* 0x0000000000007918 */
                                                                                 /* 0x000fc00000000000 */
		..........


		Function : _Z14ReluGrad_impl1PK6__halfS1_PS_i
	.headerflags	@"EF_CUDA_TEXMODE_UNIFIED EF_CUDA_64BIT_ADDRESS EF_CUDA_SM90 EF_CUDA_VIRTUAL_SM(EF_CUDA_SM90)"
        /*0000*/                   LDC R1, c[0x0][0x28] ;                        /* 0x00000a00ff017b82 */
                                                                                 /* 0x000e240000000800 */
        /*0010*/                   S2R R15, SR_CTAID.X ;                         /* 0x00000000000f7919 */
                                                                                 /* 0x000e620000002500 */
        /*0020*/                   LDC R16, c[0x0][0x228] ;                      /* 0x00008a00ff107b82 */
                                                                                 /* 0x000ea20000000800 */
        /*0030*/                   ULDC UR6, c[0x0][0x0] ;                       /* 0x0000000000067ab9 */
                                                                                 /* 0x000fe20000000800 */
        /*0040*/                   ULDC.64 UR4, c[0x0][0x208] ;                  /* 0x0000820000047ab9 */
                                                                                 /* 0x000fe20000000a00 */
        /*0050*/                   S2R R0, SR_TID.X ;                            /* 0x0000000000007919 */
                                                                                 /* 0x000e620000002100 */
        /*0060*/                   BSSY B0, 0x1d0 ;                              /* 0x0000016000007945 */
                                                                                 /* 0x000fe20003800000 */
        /*0070*/                   LOP3.LUT R18, R16, 0x1, RZ, 0xc0, !PT ;       /* 0x0000000110127812 */
                                                                                 /* 0x004fe200078ec0ff */
        /*0080*/                   IMAD R15, R15, UR6, R0 ;                      /* 0x000000060f0f7c24 */
                                                                                 /* 0x002fe2000f8e0200 */
        /*0090*/                   SHF.R.S32.HI R0, RZ, 0x1, R16 ;               /* 0x00000001ff007819 */
                                                                                 /* 0x000fc80000011410 */
        /*00a0*/                   ISETP.GE.AND P0, PT, R15, R0, PT ;            /* 0x000000000f00720c */
                                                                                 /* 0x000fda0003f06270 */
        /*00b0*/               @P0 BRA 0x1c0 ;                                   /* 0x0000000000400947 */
                                                                                 /* 0x000fea0003800000 */
        /*00c0*/                   LDC R14, c[0x0][0xc] ;                        /* 0x00000300ff0e7b82 */
                                                                                 /* 0x000e700000000800 */
        /*00d0*/                   LDC.64 R2, c[0x0][0x210] ;                    /* 0x00008400ff027b82 */
                                                                                 /* 0x000eb00000000a00 */
        /*00e0*/                   LDC.64 R4, c[0x0][0x218] ;                    /* 0x00008600ff047b82 */
                                                                                 /* 0x000ef00000000a00 */
        /*00f0*/                   LDC.64 R6, c[0x0][0x220] ;                    /* 0x00008800ff067b82 */
                                                                                 /* 0x000f220000000a00 */
        /*0100*/                   IMAD R14, R14, UR6, RZ ;                      /* 0x000000060e0e7c24 */
                                                                                 /* 0x002fce000f8e02ff */
        /*0110*/                   IMAD.WIDE R10, R15, 0x4, R4 ;                 /* 0x000000040f0a7825 */
                                                                                 /* 0x008fc800078e0204 */
        /*0120*/                   IMAD.WIDE R8, R15.reuse, 0x4, R2 ;            /* 0x000000040f087825 */
                                                                                 /* 0x044fe400078e0202 */
        /*0130*/                   LDG.E.CONSTANT R10, desc[UR4][R10.64] ;       /* 0x000000040a0a7981 */
                                                                                 /* 0x000ea8000c1e9900 */
        /*0140*/                   LDG.E.CONSTANT R8, desc[UR4][R8.64] ;         /* 0x0000000408087981 */
                                                                                 /* 0x0004e2000c1e9900 */
        /*0150*/                   IMAD.WIDE R12, R15, 0x4, R6 ;                 /* 0x000000040f0c7825 */
                                                                                 /* 0x012fe200078e0206 */
        /*0160*/                   IADD3 R15, R14, R15, RZ ;                     /* 0x0000000f0e0f7210 */
                                                                                 /* 0x000fc80007ffe0ff */
        /*0170*/                   ISETP.GE.AND P0, PT, R15, R0, PT ;            /* 0x000000000f00720c */
                                                                                 /* 0x000fe40003f06270 */
        /*0180*/                   HSET2.BF.GT.AND R9, R10, RZ.H0_H0, PT ;       /* 0x200000ff0a097233 */
                                                                                 /* 0x004fcc0003804080 */
        /*0190*/                   HFMA2.MMA R17, R9, R8, -RZ ;                  /* 0x0000000809117235 */
                                                                                 /* 0x008fce00001000ff */
        /*01a0*/                   STG.E desc[UR4][R12.64], R17 ;                /* 0x000000110c007986 */
                                                                                 /* 0x0003e2000c101904 */
        /*01b0*/              @!P0 BRA 0x110 ;                                   /* 0xfffffffc00d48947 */
                                                                                 /* 0x000fea000383ffff */
        /*01c0*/                   BSYNC B0 ;                                    /* 0x0000000000007941 */
                                                                                 /* 0x000fea0003800000 */
        /*01d0*/                   ISETP.NE.AND P0, PT, R15, R0, PT ;            /* 0x000000000f00720c */
                                                                                 /* 0x000fc80003f05270 */
        /*01e0*/                   ISETP.NE.U32.OR P0, PT, R18, 0x1, P0 ;        /* 0x000000011200780c */
                                                                                 /* 0x000fda0000705470 */
        /*01f0*/               @P0 EXIT ;                                        /* 0x000000000000094d */
                                                                                 /* 0x000fea0003800000 */
        /*0200*/                   LDC.64 R4, c[0x0][0x218] ;                    /* 0x00008600ff047b82 */
                                                                                 /* 0x000e220000000a00 */
        /*0210*/                   IADD3 R9, R16, -0x1, RZ ;                     /* 0xffffffff10097810 */
                                                                                 /* 0x000fce0007ffe0ff */
        /*0220*/                   LDC.64 R2, c[0x0][0x210] ;                    /* 0x00008400ff027b82 */
                                                                                 /* 0x000e700000000a00 */
        /*0230*/                   LDC.64 R6, c[0x0][0x220] ;                    /* 0x00008800ff067b82 */
                                                                                 /* 0x000ea20000000a00 */
        /*0240*/                   IMAD.WIDE R4, R9, 0x2, R4 ;                   /* 0x0000000209047825 */
                                                                                 /* 0x001fcc00078e0204 */
        /*0250*/                   LDG.E.U16.CONSTANT R4, desc[UR4][R4.64] ;     /* 0x0000000404047981 */
                                                                                 /* 0x000ee2000c1e9500 */
        /*0260*/                   IMAD.WIDE R2, R9, 0x2, R2 ;                   /* 0x0000000209027825 */
                                                                                 /* 0x002fcc00078e0202 */
        /*0270*/                   LDG.E.U16.CONSTANT R2, desc[UR4][R2.64] ;     /* 0x0000000402027981 */
                                                                                 /* 0x000f22000c1e9500 */
        /*0280*/                   IMAD.WIDE R6, R9, 0x2, R6 ;                   /* 0x0000000209067825 */
                                                                                 /* 0x004fc800078e0206 */
        /*0290*/                   HADD2.F32 R8, -RZ, R4.H0_H0 ;                 /* 0x20000004ff087230 */
                                                                                 /* 0x008fca0000004100 */
        /*02a0*/                   FSETP.GT.AND P0, PT, R8, RZ, PT ;             /* 0x000000ff0800720b */
                                                                                 /* 0x000fe20003f04000 */
        /*02b0*/                   HADD2.F32 R0, -RZ, R2.H0_H0 ;                 /* 0x20000002ff007230 */
                                                                                 /* 0x010fca0000004100 */
        /*02c0*/                   FSEL R0, R0, RZ, P0 ;                         /* 0x000000ff00007208 */
                                                                                 /* 0x000fc80000000000 */
        /*02d0*/                   F2FP.F16.F32.PACK_AB R0, RZ, R0 ;             /* 0x00000000ff00723e */
                                                                                 /* 0x000fca00000000ff */
        /*02e0*/                   STG.E.U16 desc[UR4][R6.64], R0 ;              /* 0x0000000006007986 */
                                                                                 /* 0x000fe2000c101504 */
        /*02f0*/                   EXIT ;                                        /* 0x000000000000794d */
                                                                                 /* 0x000fea0003800000 */
        /*0300*/                   BRA 0x300;                                    /* 0xfffffffc00fc7947 */
                                                                                 /* 0x000fc0000383ffff */
        /*0310*/                   NOP;                                          /* 0x0000000000007918 */
                                                                                 /* 0x000fc00000000000 */
        /*0320*/                   NOP;                                          /* 0x0000000000007918 */
                                                                                 /* 0x000fc00000000000 */
        /*0330*/                   NOP;                                          /* 0x0000000000007918 */
                                                                                 /* 0x000fc00000000000 */
        /*0340*/                   NOP;                                          /* 0x0000000000007918 */
                                                                                 /* 0x000fc00000000000 */
        /*0350*/                   NOP;                                          /* 0x0000000000007918 */
                                                                                 /* 0x000fc00000000000 */
        /*0360*/                   NOP;                                          /* 0x0000000000007918 */
                                                                                 /* 0x000fc00000000000 */
        /*0370*/                   NOP;                                          /* 0x0000000000007918 */
                                                                                 /* 0x000fc00000000000 */
        /*0380*/                   NOP;                                          /* 0x0000000000007918 */
                                                                                 /* 0x000fc00000000000 */
        /*0390*/                   NOP;                                          /* 0x0000000000007918 */
                                                                                 /* 0x000fc00000000000 */
        /*03a0*/                   NOP;                                          /* 0x0000000000007918 */
                                                                                 /* 0x000fc00000000000 */
        /*03b0*/                   NOP;                                          /* 0x0000000000007918 */
                                                                                 /* 0x000fc00000000000 */
        /*03c0*/                   NOP;                                          /* 0x0000000000007918 */
                                                                                 /* 0x000fc00000000000 */
        /*03d0*/                   NOP;                                          /* 0x0000000000007918 */
                                                                                 /* 0x000fc00000000000 */
        /*03e0*/                   NOP;                                          /* 0x0000000000007918 */
                                                                                 /* 0x000fc00000000000 */
        /*03f0*/                   NOP;                                          /* 0x0000000000007918 */
                                                                                 /* 0x000fc00000000000 */
		..........



Fatbin ptx code:
================
arch = sm_90
code version = [8,5]
host = linux
compile_size = 64bit
compressed
ptxasOptions = 
