
Fatbin elf code:
================
arch = sm_75
code version = [1,7]
host = linux
compile_size = 64bit

	code for sm_75

Fatbin elf code:
================
arch = sm_75
code version = [1,7]
host = linux
compile_size = 64bit

	code for sm_75
		Function : _Z14transpose_shflPfPKf
	.headerflags	@"EF_CUDA_TEXMODE_UNIFIED EF_CUDA_64BIT_ADDRESS EF_CUDA_SM75 EF_CUDA_VIRTUAL_SM(EF_CUDA_SM75)"
        /*0000*/                   MOV R1, c[0x0][0x28] ;                      /* 0x00000a0000017a02 */
                                                                               /* 0x000fe40000000f00 */
        /*0010*/                   S2R R4, SR_CTAID.X ;                        /* 0x0000000000047919 */
                                                                               /* 0x000e220000002500 */
        /*0020*/                   MOV R9, 0x4 ;                               /* 0x0000000400097802 */
                                                                               /* 0x000fc60000000f00 */
        /*0030*/                   S2R R5, SR_TID.X ;                          /* 0x0000000000057919 */
                                                                               /* 0x000e240000002100 */
        /*0040*/                   IMAD R4, R4, c[0x0][0x0], R5 ;              /* 0x0000000004047a24 */
                                                                               /* 0x001fc800078e0205 */
        /*0050*/                   IMAD.WIDE.U32 R2, R4, R9, c[0x0][0x168] ;   /* 0x00005a0004027625 */
                                                                               /* 0x000fd000078e0009 */
        /*0060*/                   LDG.E.SYS R3, [R2] ;                        /* 0x0000000002037381 */
                                                                               /* 0x000ea200001ee900 */
        /*0070*/                   LOP3.LUT R0, RZ, R5, RZ, 0x33, !PT ;        /* 0x00000005ff007212 */
                                                                               /* 0x000fe200078e33ff */
        /*0080*/                   IMAD.WIDE.U32 R4, R4, R9, c[0x0][0x160] ;   /* 0x0000580004047625 */
                                                                               /* 0x000fc600078e0009 */
        /*0090*/                   IADD3 R0, R0, c[0x0][0x0], RZ ;             /* 0x0000000000007a10 */
                                                                               /* 0x000fd00007ffe0ff */
        /*00a0*/                   SHFL.IDX PT, R7, R3, R0, 0x1f ;             /* 0x00001f0003077589 */
                                                                               /* 0x004e2800000e0000 */
        /*00b0*/                   STG.E.SYS [R4], R7 ;                        /* 0x0000000704007386 */
                                                                               /* 0x001fe2000010e900 */
        /*00c0*/                   EXIT ;                                      /* 0x000000000000794d */
                                                                               /* 0x000fea0003800000 */
        /*00d0*/                   BRA 0xd0;                                   /* 0xfffffff000007947 */
                                                                               /* 0x000fc0000383ffff */
        /*00e0*/                   NOP;                                        /* 0x0000000000007918 */
                                                                               /* 0x000fc00000000000 */
        /*00f0*/                   NOP;                                        /* 0x0000000000007918 */
                                                                               /* 0x000fc00000000000 */
		..........


		Function : _Z19bcast_shfl_xor_sg32Pi
	.headerflags	@"EF_CUDA_TEXMODE_UNIFIED EF_CUDA_64BIT_ADDRESS EF_CUDA_SM75 EF_CUDA_VIRTUAL_SM(EF_CUDA_SM75)"
        /*0000*/                   MOV R1, c[0x0][0x28] ;                      /* 0x00000a0000017a02 */
                                                                               /* 0x000fe40000000f00 */
        /*0010*/                   S2R R9, SR_TID.X ;                          /* 0x0000000000097919 */
                                                                               /* 0x000e240000002100 */
        /*0020*/                   LOP3.LUT R0, R9, 0x1f, RZ, 0xc0, !PT ;      /* 0x0000001f09007812 */
                                                                               /* 0x001fd000078ec0ff */
        /*0030*/                   SHFL.BFLY PT, R3, R0, 0x1, 0x1f ;           /* 0x0c201f0000037f89 */
                                                                               /* 0x000e2400000e0000 */
        /*0040*/                   IADD3 R4, R0, R3, RZ ;                      /* 0x0000000300047210 */
                                                                               /* 0x001fd00007ffe0ff */
        /*0050*/                   SHFL.BFLY PT, R3, R4, 0x2, 0x1f ;           /* 0x0c401f0004037f89 */
                                                                               /* 0x000e2400000e0000 */
        /*0060*/                   IMAD.IADD R5, R4, 0x1, R3 ;                 /* 0x0000000104057824 */
                                                                               /* 0x001fd000078e0203 */
        /*0070*/                   SHFL.BFLY PT, R2, R5, 0x4, 0x1f ;           /* 0x0c801f0005027f89 */
                                                                               /* 0x000e2400000e0000 */
        /*0080*/                   IADD3 R6, R5, R2, RZ ;                      /* 0x0000000205067210 */
                                                                               /* 0x001fe40007ffe0ff */
        /*0090*/                   S2R R2, SR_CTAID.X ;                        /* 0x0000000000027919 */
                                                                               /* 0x000e2c0000002500 */
        /*00a0*/                   SHFL.BFLY PT, R3, R6, 0x8, 0x1f ;           /* 0x0d001f0006037f89 */
                                                                               /* 0x000e6200000e0000 */
        /*00b0*/                   IMAD R2, R2, c[0x0][0x0], R9 ;              /* 0x0000000002027a24 */
                                                                               /* 0x001fc400078e0209 */
        /*00c0*/                   IMAD.IADD R7, R6, 0x1, R3 ;                 /* 0x0000000106077824 */
                                                                               /* 0x002fe200078e0203 */
        /*00d0*/                   MOV R3, 0x4 ;                               /* 0x0000000400037802 */
                                                                               /* 0x000fca0000000f00 */
        /*00e0*/                   IMAD.WIDE.U32 R2, R2, R3, c[0x0][0x160] ;   /* 0x0000580002027625 */
                                                                               /* 0x000fe400078e0003 */
        /*00f0*/                   SHFL.BFLY PT, R8, R7, 0x10, 0x1f ;          /* 0x0e001f0007087f89 */
                                                                               /* 0x000e2400000e0000 */
        /*0100*/                   IMAD.IADD R9, R7, 0x1, R8 ;                 /* 0x0000000107097824 */
                                                                               /* 0x001fd000078e0208 */
        /*0110*/                   STG.E.SYS [R2], R9 ;                        /* 0x0000000902007386 */
                                                                               /* 0x000fe2000010e900 */
        /*0120*/                   EXIT ;                                      /* 0x000000000000794d */
                                                                               /* 0x000fea0003800000 */
        /*0130*/                   BRA 0x130;                                  /* 0xfffffff000007947 */
                                                                               /* 0x000fc0000383ffff */
        /*0140*/                   NOP;                                        /* 0x0000000000007918 */
                                                                               /* 0x000fc00000000000 */
        /*0150*/                   NOP;                                        /* 0x0000000000007918 */
                                                                               /* 0x000fc00000000000 */
        /*0160*/                   NOP;                                        /* 0x0000000000007918 */
                                                                               /* 0x000fc00000000000 */
        /*0170*/                   NOP;                                        /* 0x0000000000007918 */
                                                                               /* 0x000fc00000000000 */
		..........


		Function : _Z15bcast_shfl_sg32iPi
	.headerflags	@"EF_CUDA_TEXMODE_UNIFIED EF_CUDA_64BIT_ADDRESS EF_CUDA_SM75 EF_CUDA_VIRTUAL_SM(EF_CUDA_SM75)"
        /*0000*/                   MOV R1, c[0x0][0x28] ;                      /* 0x00000a0000017a02 */
                                                                               /* 0x000fe40000000f00 */
        /*0010*/                   S2R R2, SR_TID.X ;                          /* 0x0000000000027919 */
                                                                               /* 0x000e220000002100 */
        /*0020*/                   MOV R7, 0x4 ;                               /* 0x0000000400077802 */
                                                                               /* 0x000fc60000000f00 */
        /*0030*/                   S2R R3, SR_CTAID.X ;                        /* 0x0000000000037919 */
                                                                               /* 0x000e620000002500 */
        /*0040*/                   LOP3.LUT P0, RZ, R2, 0x1f, RZ, 0xc0, !PT ;  /* 0x0000001f02ff7812 */
                                                                               /* 0x001fc8000780c0ff */
        /*0050*/                   SEL R0, RZ, c[0x0][0x160], P0 ;             /* 0x00005800ff007a07 */
                                                                               /* 0x000fe20000000000 */
        /*0060*/                   IMAD R2, R3, c[0x0][0x0], R2 ;              /* 0x0000000003027a24 */
                                                                               /* 0x002fc800078e0202 */
        /*0070*/                   IMAD.WIDE.U32 R2, R2, R7, c[0x0][0x168] ;   /* 0x00005a0002027625 */
                                                                               /* 0x000fc600078e0007 */
        /*0080*/                   SHFL.IDX PT, R5, R0, RZ, 0x1f ;             /* 0x00001fff00057589 */
                                                                               /* 0x000e2a00000e0000 */
        /*0090*/                   STG.E.SYS [R2], R5 ;                        /* 0x0000000502007386 */
                                                                               /* 0x001fe2000010e900 */
        /*00a0*/                   EXIT ;                                      /* 0x000000000000794d */
                                                                               /* 0x000fea0003800000 */
        /*00b0*/                   BRA 0xb0;                                   /* 0xfffffff000007947 */
                                                                               /* 0x000fc0000383ffff */
        /*00c0*/                   NOP;                                        /* 0x0000000000007918 */
                                                                               /* 0x000fc00000000000 */
        /*00d0*/                   NOP;                                        /* 0x0000000000007918 */
                                                                               /* 0x000fc00000000000 */
        /*00e0*/                   NOP;                                        /* 0x0000000000007918 */
                                                                               /* 0x000fc00000000000 */
        /*00f0*/                   NOP;                                        /* 0x0000000000007918 */
                                                                               /* 0x000fc00000000000 */
		..........


		Function : _Z19bcast_shfl_xor_sg16Pi
	.headerflags	@"EF_CUDA_TEXMODE_UNIFIED EF_CUDA_64BIT_ADDRESS EF_CUDA_SM75 EF_CUDA_VIRTUAL_SM(EF_CUDA_SM75)"
        /*0000*/                   MOV R1, c[0x0][0x28] ;                      /* 0x00000a0000017a02 */
                                                                               /* 0x000fe40000000f00 */
        /*0010*/                   S2R R8, SR_TID.X ;                          /* 0x0000000000087919 */
                                                                               /* 0x000e220000002100 */
        /*0020*/                   MOV R9, 0x4 ;                               /* 0x0000000400097802 */
                                                                               /* 0x000fe40000000f00 */
        /*0030*/                   LOP3.LUT R0, R8, 0xf, RZ, 0xc0, !PT ;       /* 0x0000000f08007812 */
                                                                               /* 0x001fd000078ec0ff */
        /*0040*/                   SHFL.BFLY PT, R3, R0, 0x1, 0x1f ;           /* 0x0c201f0000037f89 */
                                                                               /* 0x000e2400000e0000 */
        /*0050*/                   IADD3 R4, R0, R3, RZ ;                      /* 0x0000000300047210 */
                                                                               /* 0x001fd00007ffe0ff */
        /*0060*/                   SHFL.BFLY PT, R3, R4, 0x2, 0x1f ;           /* 0x0c401f0004037f89 */
                                                                               /* 0x000e2400000e0000 */
        /*0070*/                   IADD3 R5, R4, R3, RZ ;                      /* 0x0000000304057210 */
                                                                               /* 0x001fe40007ffe0ff */
        /*0080*/                   S2R R3, SR_CTAID.X ;                        /* 0x0000000000037919 */
                                                                               /* 0x000e2c0000002500 */
        /*0090*/                   SHFL.BFLY PT, R2, R5, 0x4, 0x1f ;           /* 0x0c801f0005027f89 */
                                                                               /* 0x000e6400000e0000 */
        /*00a0*/                   IMAD.IADD R6, R5, 0x1, R2 ;                 /* 0x0000000105067824 */
                                                                               /* 0x002fc400078e0202 */
        /*00b0*/                   IMAD R2, R3, c[0x0][0x0], R8 ;              /* 0x0000000003027a24 */
                                                                               /* 0x001fc800078e0208 */
        /*00c0*/                   IMAD.WIDE.U32 R2, R2, R9, c[0x0][0x160] ;   /* 0x0000580002027625 */
                                                                               /* 0x000fe400078e0009 */
        /*00d0*/                   SHFL.BFLY PT, R7, R6, 0x8, 0x1f ;           /* 0x0d001f0006077f89 */
                                                                               /* 0x000e2400000e0000 */
        /*00e0*/                   IMAD.IADD R7, R6, 0x1, R7 ;                 /* 0x0000000106077824 */
                                                                               /* 0x001fd000078e0207 */
        /*00f0*/                   STG.E.SYS [R2], R7 ;                        /* 0x0000000702007386 */
                                                                               /* 0x000fe2000010e900 */
        /*0100*/                   EXIT ;                                      /* 0x000000000000794d */
                                                                               /* 0x000fea0003800000 */
        /*0110*/                   BRA 0x110;                                  /* 0xfffffff000007947 */
                                                                               /* 0x000fc0000383ffff */
        /*0120*/                   NOP;                                        /* 0x0000000000007918 */
                                                                               /* 0x000fc00000000000 */
        /*0130*/                   NOP;                                        /* 0x0000000000007918 */
                                                                               /* 0x000fc00000000000 */
        /*0140*/                   NOP;                                        /* 0x0000000000007918 */
                                                                               /* 0x000fc00000000000 */
        /*0150*/                   NOP;                                        /* 0x0000000000007918 */
                                                                               /* 0x000fc00000000000 */
        /*0160*/                   NOP;                                        /* 0x0000000000007918 */
                                                                               /* 0x000fc00000000000 */
        /*0170*/                   NOP;                                        /* 0x0000000000007918 */
                                                                               /* 0x000fc00000000000 */
		..........


		Function : _Z15bcast_shfl_sg16iPi
	.headerflags	@"EF_CUDA_TEXMODE_UNIFIED EF_CUDA_64BIT_ADDRESS EF_CUDA_SM75 EF_CUDA_VIRTUAL_SM(EF_CUDA_SM75)"
        /*0000*/                   MOV R1, c[0x0][0x28] ;                      /* 0x00000a0000017a02 */
                                                                               /* 0x000fe40000000f00 */
        /*0010*/                   S2R R2, SR_TID.X ;                          /* 0x0000000000027919 */
                                                                               /* 0x000e220000002100 */
        /*0020*/                   MOV R7, 0x4 ;                               /* 0x0000000400077802 */
                                                                               /* 0x000fc60000000f00 */
        /*0030*/                   S2R R3, SR_CTAID.X ;                        /* 0x0000000000037919 */
                                                                               /* 0x000e620000002500 */
        /*0040*/                   LOP3.LUT P0, RZ, R2, 0xf, RZ, 0xc0, !PT ;   /* 0x0000000f02ff7812 */
                                                                               /* 0x001fc8000780c0ff */
        /*0050*/                   SEL R0, RZ, c[0x0][0x160], P0 ;             /* 0x00005800ff007a07 */
                                                                               /* 0x000fe20000000000 */
        /*0060*/                   IMAD R2, R3, c[0x0][0x0], R2 ;              /* 0x0000000003027a24 */
                                                                               /* 0x002fc800078e0202 */
        /*0070*/                   IMAD.WIDE.U32 R2, R2, R7, c[0x0][0x168] ;   /* 0x00005a0002027625 */
                                                                               /* 0x000fc600078e0007 */
        /*0080*/                   SHFL.IDX PT, R5, R0, RZ, 0x1f ;             /* 0x00001fff00057589 */
                                                                               /* 0x000e2a00000e0000 */
        /*0090*/                   STG.E.SYS [R2], R5 ;                        /* 0x0000000502007386 */
                                                                               /* 0x001fe2000010e900 */
        /*00a0*/                   EXIT ;                                      /* 0x000000000000794d */
                                                                               /* 0x000fea0003800000 */
        /*00b0*/                   BRA 0xb0;                                   /* 0xfffffff000007947 */
                                                                               /* 0x000fc0000383ffff */
        /*00c0*/                   NOP;                                        /* 0x0000000000007918 */
                                                                               /* 0x000fc00000000000 */
        /*00d0*/                   NOP;                                        /* 0x0000000000007918 */
                                                                               /* 0x000fc00000000000 */
        /*00e0*/                   NOP;                                        /* 0x0000000000007918 */
                                                                               /* 0x000fc00000000000 */
        /*00f0*/                   NOP;                                        /* 0x0000000000007918 */
                                                                               /* 0x000fc00000000000 */
		..........


		Function : _Z18bcast_shfl_xor_sg8Pi
	.headerflags	@"EF_CUDA_TEXMODE_UNIFIED EF_CUDA_64BIT_ADDRESS EF_CUDA_SM75 EF_CUDA_VIRTUAL_SM(EF_CUDA_SM75)"
        /*0000*/                   MOV R1, c[0x0][0x28] ;                      /* 0x00000a0000017a02 */
                                                                               /* 0x000fe40000000f00 */
        /*0010*/                   S2R R2, SR_TID.X ;                          /* 0x0000000000027919 */
                                                                               /* 0x000e220000002100 */
        /*0020*/                   MOV R7, 0x4 ;                               /* 0x0000000400077802 */
                                                                               /* 0x000fe40000000f00 */
        /*0030*/                   LOP3.LUT R0, R2, 0x7, RZ, 0xc0, !PT ;       /* 0x0000000702007812 */
                                                                               /* 0x001fd000078ec0ff */
        /*0040*/                   SHFL.BFLY PT, R3, R0, 0x1, 0x1f ;           /* 0x0c201f0000037f89 */
                                                                               /* 0x000e2400000e0000 */
        /*0050*/                   IADD3 R4, R0, R3, RZ ;                      /* 0x0000000300047210 */
                                                                               /* 0x001fd00007ffe0ff */
        /*0060*/                   SHFL.BFLY PT, R3, R4, 0x2, 0x1f ;           /* 0x0c401f0004037f89 */
                                                                               /* 0x000e2400000e0000 */
        /*0070*/                   IMAD.IADD R5, R4, 0x1, R3 ;                 /* 0x0000000104057824 */
                                                                               /* 0x001fe400078e0203 */
        /*0080*/                   S2R R3, SR_CTAID.X ;                        /* 0x0000000000037919 */
                                                                               /* 0x000e2c0000002500 */
        /*0090*/                   SHFL.BFLY PT, R6, R5, 0x4, 0x1f ;           /* 0x0c801f0005067f89 */
                                                                               /* 0x000e6200000e0000 */
        /*00a0*/                   IMAD R2, R3, c[0x0][0x0], R2 ;              /* 0x0000000003027a24 */
                                                                               /* 0x001fc800078e0202 */
        /*00b0*/                   IMAD.WIDE.U32 R2, R2, R7, c[0x0][0x160] ;   /* 0x0000580002027625 */
                                                                               /* 0x000fc800078e0007 */
        /*00c0*/                   IMAD.IADD R7, R5, 0x1, R6 ;                 /* 0x0000000105077824 */
                                                                               /* 0x002fd000078e0206 */
        /*00d0*/                   STG.E.SYS [R2], R7 ;                        /* 0x0000000702007386 */
                                                                               /* 0x000fe2000010e900 */
        /*00e0*/                   EXIT ;                                      /* 0x000000000000794d */
                                                                               /* 0x000fea0003800000 */
        /*00f0*/                   BRA 0xf0;                                   /* 0xfffffff000007947 */
                                                                               /* 0x000fc0000383ffff */
		..........


		Function : _Z14bcast_shfl_sg8iPi
	.headerflags	@"EF_CUDA_TEXMODE_UNIFIED EF_CUDA_64BIT_ADDRESS EF_CUDA_SM75 EF_CUDA_VIRTUAL_SM(EF_CUDA_SM75)"
        /*0000*/                   MOV R1, c[0x0][0x28] ;                      /* 0x00000a0000017a02 */
                                                                               /* 0x000fe40000000f00 */
        /*0010*/                   S2R R2, SR_TID.X ;                          /* 0x0000000000027919 */
                                                                               /* 0x000e220000002100 */
        /*0020*/                   MOV R7, 0x4 ;                               /* 0x0000000400077802 */
                                                                               /* 0x000fc60000000f00 */
        /*0030*/                   S2R R3, SR_CTAID.X ;                        /* 0x0000000000037919 */
                                                                               /* 0x000e620000002500 */
        /*0040*/                   LOP3.LUT P0, RZ, R2, 0x7, RZ, 0xc0, !PT ;   /* 0x0000000702ff7812 */
                                                                               /* 0x001fc8000780c0ff */
        /*0050*/                   SEL R0, RZ, c[0x0][0x160], P0 ;             /* 0x00005800ff007a07 */
                                                                               /* 0x000fe20000000000 */
        /*0060*/                   IMAD R2, R3, c[0x0][0x0], R2 ;              /* 0x0000000003027a24 */
                                                                               /* 0x002fc800078e0202 */
        /*0070*/                   IMAD.WIDE.U32 R2, R2, R7, c[0x0][0x168] ;   /* 0x00005a0002027625 */
                                                                               /* 0x000fc600078e0007 */
        /*0080*/                   SHFL.IDX PT, R5, R0, RZ, 0x1f ;             /* 0x00001fff00057589 */
                                                                               /* 0x000e2a00000e0000 */
        /*0090*/                   STG.E.SYS [R2], R5 ;                        /* 0x0000000502007386 */
                                                                               /* 0x001fe2000010e900 */
        /*00a0*/                   EXIT ;                                      /* 0x000000000000794d */
                                                                               /* 0x000fea0003800000 */
        /*00b0*/                   BRA 0xb0;                                   /* 0xfffffff000007947 */
                                                                               /* 0x000fc0000383ffff */
        /*00c0*/                   NOP;                                        /* 0x0000000000007918 */
                                                                               /* 0x000fc00000000000 */
        /*00d0*/                   NOP;                                        /* 0x0000000000007918 */
                                                                               /* 0x000fc00000000000 */
        /*00e0*/                   NOP;                                        /* 0x0000000000007918 */
                                                                               /* 0x000fc00000000000 */
        /*00f0*/                   NOP;                                        /* 0x0000000000007918 */
                                                                               /* 0x000fc00000000000 */
		..........



Fatbin ptx code:
================
arch = sm_75
code version = [8,5]
host = linux
compile_size = 64bit
compressed
ptxasOptions = 
