
Fatbin elf code:
================
arch = sm_75
code version = [1,7]
host = linux
compile_size = 64bit

	code for sm_75

Fatbin elf code:
================
arch = sm_75
code version = [1,7]
host = linux
compile_size = 64bit

	code for sm_75
		Function : _Z10kernel_BS4IfEvPKT_S2_Pmmm
	.headerflags	@"EF_CUDA_TEXMODE_UNIFIED EF_CUDA_64BIT_ADDRESS EF_CUDA_SM75 EF_CUDA_VIRTUAL_SM(EF_CUDA_SM75)"
        /*0000*/                   IMAD.MOV.U32 R1, RZ, RZ, c[0x0][0x28] ;                   /* 0x00000a00ff017624 */
                                                                                             /* 0x000fe400078e00ff */
        /*0010*/                   S2R R0, SR_CTAID.X ;                                      /* 0x0000000000007919 */
                                                                                             /* 0x000e280000002500 */
        /*0020*/                   S2R R3, SR_TID.X ;                                        /* 0x0000000000037919 */
                                                                                             /* 0x000e240000002100 */
        /*0030*/                   IMAD R0, R0, c[0x0][0x0], R3 ;                            /* 0x0000000000007a24 */
                                                                                             /* 0x001fca00078e0203 */
        /*0040*/                   ISETP.GE.U32.AND P0, PT, R0, c[0x0][0x178], PT ;          /* 0x00005e0000007a0c */
                                                                                             /* 0x000fc80003f06070 */
        /*0050*/                   ISETP.GE.U32.AND.EX P0, PT, RZ, c[0x0][0x17c], PT, P0 ;   /* 0x00005f00ff007a0c */
                                                                                             /* 0x000fd80003f06100 */
        /*0060*/               @P0 EXIT ;                                                    /* 0x000000000000094d */
                                                                                             /* 0x000fea0003800000 */
        /*0070*/                   ISETP.NE.AND P0, PT, R3, RZ, PT ;                         /* 0x000000ff0300720c */
                                                                                             /* 0x000fe20003f05270 */
        /*0080*/                   BMOV.32.CLEAR RZ, B0 ;                                    /* 0x0000000000ff7355 */
                                                                                             /* 0x000fe20000100000 */
        /*0090*/                   BSSY B0, 0x1d0 ;                                          /* 0x0000013000007945 */
                                                                                             /* 0x000ff40003800000 */
        /*00a0*/               @P0 BRA 0x1c0 ;                                               /* 0x0000011000000947 */
                                                                                             /* 0x000fea0003800000 */
        /*00b0*/                   UMOV UR4, URZ ;                                           /* 0x0000003f00047c82 */
                                                                                             /* 0x000fe40008000000 */
        /*00c0*/                   ULDC.64 UR8, c[0x0][0x180] ;                              /* 0x0000600000087ab9 */
                                                                                             /* 0x000fc40000000a00 */
        /*00d0*/                   ULDC UR5, c[0x0][0x184] ;                                 /* 0x0000610000057ab9 */
                                                                                             /* 0x000fe40000000800 */
        /*00e0*/                   USHF.R.U64 UR5, UR8, UR4, UR5 ;                           /* 0x0000000408057299 */
                                                                                             /* 0x000fc40008001205 */
        /*00f0*/                   USHF.R.U32.HI UR6, URZ, UR4, UR9 ;                        /* 0x000000043f067299 */
                                                                                             /* 0x000fc80008011609 */
        /*0100*/                   ISETP.NE.U32.AND P0, PT, RZ, UR5, PT ;                    /* 0x00000005ff007c0c */
                                                                                             /* 0x000fe2000bf05070 */
        /*0110*/                   UMOV UR5, UR4 ;                                           /* 0x0000000400057c82 */
                                                                                             /* 0x000fe40008000000 */
        /*0120*/                   UIADD3 UR4, UR4, 0x1, URZ ;                               /* 0x0000000104047890 */
                                                                                             /* 0x000fe2000fffe03f */
        /*0130*/                   ISETP.NE.AND.EX P0, PT, RZ, UR6, PT, P0 ;                 /* 0x00000006ff007c0c */
                                                                                             /* 0x000fd8000bf05300 */
        /*0140*/               @P0 BRA 0xd0 ;                                                /* 0xffffff8000000947 */
                                                                                             /* 0x000fea000383ffff */
        /*0150*/                   UIADD3 UR4, UR5, -0x1, URZ ;                              /* 0xffffffff05047890 */
                                                                                             /* 0x000fc6000fffe03f */
        /*0160*/                   UMOV UR5, 0x1 ;                                           /* 0x0000000100057882 */
                                                                                             /* 0x000fe40000000000 */
        /*0170*/                   USHF.L.U32 UR6, UR5, UR4, URZ ;                           /* 0x0000000405067299 */
                                                                                             /* 0x000fe4000800063f */
        /*0180*/                   USHF.L.U64.HI UR4, UR5, UR4, URZ ;                        /* 0x0000000405047299 */
                                                                                             /* 0x000fc8000801023f */
        /*0190*/                   IMAD.U32 R2, RZ, RZ, UR6 ;                                /* 0x00000006ff027e24 */
                                                                                             /* 0x000fe4000f8e00ff */
        /*01a0*/                   IMAD.U32 R3, RZ, RZ, UR4 ;                                /* 0x00000004ff037e24 */
                                                                                             /* 0x000fd0000f8e00ff */
        /*01b0*/                   STS.64 [RZ], R2 ;                                         /* 0x00000002ff007388 */
                                                                                             /* 0x0001e40000000a00 */
        /*01c0*/                   BSYNC B0 ;                                                /* 0x0000000000007941 */
                                                                                             /* 0x000fea0003800000 */
        /*01d0*/                   BAR.SYNC 0x0 ;                                            /* 0x0000000000007b1d */
                                                                                             /* 0x000fea0000000000 */
        /*01e0*/                   LDS.U.64 R2, [RZ] ;                                       /* 0x00000000ff027984 */
                                                                                             /* 0x001e220000001a00 */
        /*01f0*/                   LEA R6, P1, R0, c[0x0][0x168], 0x2 ;                      /* 0x00005a0000067a11 */
                                                                                             /* 0x000fc800078210ff */
        /*0200*/                   LEA.HI.X R7, R0, c[0x0][0x16c], RZ, 0x2, P1 ;             /* 0x00005b0000077a11 */
                                                                                             /* 0x000fd000008f14ff */
        /*0210*/                   LDG.E.CONSTANT.SYS R7, [R6] ;                             /* 0x0000000006077381 */
                                                                                             /* 0x0002a200001e6900 */
        /*0220*/                   LEA R4, P0, R2, c[0x0][0x160], 0x2 ;                      /* 0x0000580002047a11 */
                                                                                             /* 0x001fc800078010ff */
        /*0230*/                   LEA.HI.X R5, R2, c[0x0][0x164], R3, 0x2, P0 ;             /* 0x0000590002057a11 */
                                                                                             /* 0x000fd000000f1403 */
        /*0240*/                   LDG.E.CONSTANT.SYS R4, [R4] ;                             /* 0x0000000004047381 */
                                                                                             /* 0x000ea200001e6900 */
        /*0250*/                   SHF.R.U64 R6, R2, 0x1, R3.reuse ;                         /* 0x0000000102067819 */
                                                                                             /* 0x102fe40000001203 */
        /*0260*/                   SHF.R.U32.HI R11, RZ, 0x1, R3 ;                           /* 0x00000001ff0b7819 */
                                                                                             /* 0x000fe40000011603 */
        /*0270*/                   ISETP.NE.U32.AND P0, PT, R6, RZ, PT ;                     /* 0x000000ff0600720c */
                                                                                             /* 0x000fc80003f05070 */
        /*0280*/                   ISETP.NE.AND.EX P0, PT, R11, RZ, PT, P0 ;                 /* 0x000000ff0b00720c */
                                                                                             /* 0x000fe40003f05300 */
        /*0290*/                   LEA R8, P1, R0, c[0x0][0x170], 0x3 ;                      /* 0x00005c0000087a11 */
                                                                                             /* 0x000fc800078218ff */
        /*02a0*/                   LEA.HI.X R9, R0, c[0x0][0x174], RZ, 0x3, P1 ;             /* 0x00005d0000097a11 */
                                                                                             /* 0x000fe400008f1cff */
        /*02b0*/                   FSETP.GTU.AND P2, PT, R4, R7, PT ;                        /* 0x000000070400720b */
                                                                                             /* 0x004fc80003f4c000 */
        /*02c0*/                   SEL R13, R2, RZ, !P2 ;                                    /* 0x000000ff020d7207 */
                                                                                             /* 0x000fe40005000000 */
        /*02d0*/                   SEL R10, R3, RZ, !P2 ;                                    /* 0x000000ff030a7207 */
                                                                                             /* 0x000fe20005000000 */
        /*02e0*/              @!P0 BRA 0x400 ;                                               /* 0x0000011000008947 */
                                                                                             /* 0x000fea0003800000 */
        /*02f0*/                   LOP3.LUT R4, R13, R6, RZ, 0xfc, !PT ;                     /* 0x000000060d047212 */
                                                                                             /* 0x000fe400078efcff */
        /*0300*/                   LOP3.LUT R5, R10, R11, RZ, 0xfc, !PT ;                    /* 0x0000000b0a057212 */
                                                                                             /* 0x000fe400078efcff */
        /*0310*/                   ISETP.LT.U32.AND P0, PT, R4, c[0x0][0x180], PT ;          /* 0x0000600004007a0c */
                                                                                             /* 0x000fc80003f01070 */
        /*0320*/                   ISETP.LT.U32.AND.EX P0, PT, R5, c[0x0][0x184], PT, P0 ;   /* 0x0000610005007a0c */
                                                                                             /* 0x000fc80003f01100 */
        /*0330*/                   SEL R0, R4, c[0x0][0x180], P0 ;                           /* 0x0000600004007a07 */
                                                                                             /* 0x000fe40000000000 */
        /*0340*/                   SEL R3, R5, c[0x0][0x184], P0 ;                           /* 0x0000610005037a07 */
                                                                                             /* 0x000fe40000000000 */
        /*0350*/                   LEA R2, P0, R0, c[0x0][0x160], 0x2 ;                      /* 0x0000580000027a11 */
                                                                                             /* 0x000fc800078010ff */
        /*0360*/                   LEA.HI.X R3, R0, c[0x0][0x164], R3, 0x2, P0 ;             /* 0x0000590000037a11 */
                                                                                             /* 0x000fd000000f1403 */
        /*0370*/                   LDG.E.CONSTANT.SYS R2, [R2] ;                             /* 0x0000000002027381 */
                                                                                             /* 0x000ea200001e6900 */
        /*0380*/                   SHF.R.U64 R6, R6, 0x1, R11.reuse ;                        /* 0x0000000106067819 */
                                                                                             /* 0x100fe4000000120b */
        /*0390*/                   SHF.R.U32.HI R11, RZ, 0x1, R11 ;                          /* 0x00000001ff0b7819 */
                                                                                             /* 0x000fe4000001160b */
        /*03a0*/                   ISETP.NE.U32.AND P0, PT, R6, RZ, PT ;                     /* 0x000000ff0600720c */
                                                                                             /* 0x000fc80003f05070 */
        /*03b0*/                   ISETP.NE.AND.EX P0, PT, R11, RZ, PT, P0 ;                 /* 0x000000ff0b00720c */
                                                                                             /* 0x000fe40003f05300 */
        /*03c0*/                   FSETP.GE.AND P1, PT, R7, R2, PT ;                         /* 0x000000020700720b */
                                                                                             /* 0x004fc80003f26000 */
        /*03d0*/                   SEL R13, R4, R13, P1 ;                                    /* 0x0000000d040d7207 */
                                                                                             /* 0x000fe40000800000 */
        /*03e0*/                   SEL R10, R5, R10, P1 ;                                    /* 0x0000000a050a7207 */
                                                                                             /* 0x000fc80000800000 */
        /*03f0*/               @P0 BRA 0x2f0 ;                                               /* 0xfffffef000000947 */
                                                                                             /* 0x000fea000383ffff */
        /*0400*/                   IMAD.MOV.U32 R2, RZ, RZ, R13 ;                            /* 0x000000ffff027224 */
                                                                                             /* 0x000fe400078e000d */
        /*0410*/                   IMAD.MOV.U32 R3, RZ, RZ, R10 ;                            /* 0x000000ffff037224 */
                                                                                             /* 0x000fd000078e000a */
        /*0420*/                   STG.E.64.SYS [R8], R2 ;                                   /* 0x0000000208007386 */
                                                                                             /* 0x000fe2000010eb00 */
        /*0430*/                   EXIT ;                                                    /* 0x000000000000794d */
                                                                                             /* 0x000fea0003800000 */
        /*0440*/                   BRA 0x440;                                                /* 0xfffffff000007947 */
                                                                                             /* 0x000fc0000383ffff */
        /*0450*/                   NOP;                                                      /* 0x0000000000007918 */
                                                                                             /* 0x000fc00000000000 */
        /*0460*/                   NOP;                                                      /* 0x0000000000007918 */
                                                                                             /* 0x000fc00000000000 */
        /*0470*/                   NOP;                                                      /* 0x0000000000007918 */
                                                                                             /* 0x000fc00000000000 */
		..........


		Function : _Z10kernel_BS3IfEvPKT_S2_Pmmm
	.headerflags	@"EF_CUDA_TEXMODE_UNIFIED EF_CUDA_64BIT_ADDRESS EF_CUDA_SM75 EF_CUDA_VIRTUAL_SM(EF_CUDA_SM75)"
        /*0000*/                   IMAD.MOV.U32 R1, RZ, RZ, c[0x0][0x28] ;                   /* 0x00000a00ff017624 */
                                                                                             /* 0x000fe400078e00ff */
        /*0010*/                   S2R R0, SR_CTAID.X ;                                      /* 0x0000000000007919 */
                                                                                             /* 0x000e280000002500 */
        /*0020*/                   S2R R3, SR_TID.X ;                                        /* 0x0000000000037919 */
                                                                                             /* 0x000e240000002100 */
        /*0030*/                   IMAD R0, R0, c[0x0][0x0], R3 ;                            /* 0x0000000000007a24 */
                                                                                             /* 0x001fca00078e0203 */
        /*0040*/                   ISETP.GE.U32.AND P0, PT, R0, c[0x0][0x178], PT ;          /* 0x00005e0000007a0c */
                                                                                             /* 0x000fc80003f06070 */
        /*0050*/                   ISETP.GE.U32.AND.EX P0, PT, RZ, c[0x0][0x17c], PT, P0 ;   /* 0x00005f00ff007a0c */
                                                                                             /* 0x000fd80003f06100 */
        /*0060*/               @P0 EXIT ;                                                    /* 0x000000000000094d */
                                                                                             /* 0x000fea0003800000 */
        /*0070*/                   UMOV UR4, URZ ;                                           /* 0x0000003f00047c82 */
                                                                                             /* 0x000fe40008000000 */
        /*0080*/                   ULDC.64 UR8, c[0x0][0x180] ;                              /* 0x0000600000087ab9 */
                                                                                             /* 0x000fe40000000a00 */
        /*0090*/                   ULDC UR5, c[0x0][0x184] ;                                 /* 0x0000610000057ab9 */
                                                                                             /* 0x000fe40000000800 */
        /*00a0*/                   USHF.R.U64 UR5, UR8, UR4, UR5 ;                           /* 0x0000000408057299 */
                                                                                             /* 0x000fe40008001205 */
        /*00b0*/                   USHF.R.U32.HI UR6, URZ, UR4, UR9 ;                        /* 0x000000043f067299 */
                                                                                             /* 0x000fc80008011609 */
        /*00c0*/                   ISETP.NE.U32.AND P0, PT, RZ, UR5, PT ;                    /* 0x00000005ff007c0c */
                                                                                             /* 0x000fe2000bf05070 */
        /*00d0*/                   UMOV UR5, UR4 ;                                           /* 0x0000000400057c82 */
                                                                                             /* 0x000fe40008000000 */
        /*00e0*/                   UIADD3 UR4, UR4, 0x1, URZ ;                               /* 0x0000000104047890 */
                                                                                             /* 0x000fe2000fffe03f */
        /*00f0*/                   ISETP.NE.AND.EX P0, PT, RZ, UR6, PT, P0 ;                 /* 0x00000006ff007c0c */
                                                                                             /* 0x000fd8000bf05300 */
        /*0100*/               @P0 BRA 0x90 ;                                                /* 0xffffff8000000947 */
                                                                                             /* 0x000fea000383ffff */
        /*0110*/                   UIADD3 UR4, UR5, -0x1, URZ ;                              /* 0xffffffff05047890 */
                                                                                             /* 0x000fe2000fffe03f */
        /*0120*/                   IMAD.MOV.U32 R8, RZ, RZ, 0x1 ;                            /* 0x00000001ff087424 */
                                                                                             /* 0x000fe200078e00ff */
        /*0130*/                   LEA R4, P1, R0, c[0x0][0x168], 0x2 ;                      /* 0x00005a0000047a11 */
                                                                                             /* 0x000fc800078210ff */
        /*0140*/                   SHF.L.U32 R11, R8.reuse, UR4, RZ ;                        /* 0x00000004080b7c19 */
                                                                                             /* 0x040fe400080006ff */
        /*0150*/                   SHF.L.U64.HI R8, R8, UR4, RZ ;                            /* 0x0000000408087c19 */
                                                                                             /* 0x000fe400080102ff */
        /*0160*/                   LEA R2, P0, R11.reuse, c[0x0][0x160], 0x2 ;               /* 0x000058000b027a11 */
                                                                                             /* 0x040fe400078010ff */
        /*0170*/                   LEA.HI.X R5, R0, c[0x0][0x16c], RZ, 0x2, P1 ;             /* 0x00005b0000057a11 */
                                                                                             /* 0x000fe400008f14ff */
        /*0180*/                   LEA.HI.X R3, R11, c[0x0][0x164], R8, 0x2, P0 ;            /* 0x000059000b037a11 */
                                                                                             /* 0x000fcc00000f1408 */
        /*0190*/                   LDG.E.CONSTANT.SYS R5, [R4] ;                             /* 0x0000000004057381 */
                                                                                             /* 0x000ea800001e6900 */
        /*01a0*/                   LDG.E.CONSTANT.SYS R2, [R2] ;                             /* 0x0000000002027381 */
                                                                                             /* 0x000ea200001e6900 */
        /*01b0*/                   SHF.R.U64 R9, R11, 0x1, R8.reuse ;                        /* 0x000000010b097819 */
                                                                                             /* 0x100fe40000001208 */
        /*01c0*/                   SHF.R.U32.HI R10, RZ, 0x1, R8 ;                           /* 0x00000001ff0a7819 */
                                                                                             /* 0x000fe40000011608 */
        /*01d0*/                   ISETP.NE.U32.AND P0, PT, R9, RZ, PT ;                     /* 0x000000ff0900720c */
                                                                                             /* 0x000fe40003f05070 */
        /*01e0*/                   LEA R6, P1, R0, c[0x0][0x170], 0x3 ;                      /* 0x00005c0000067a11 */
                                                                                             /* 0x000fc400078218ff */
        /*01f0*/                   ISETP.NE.AND.EX P0, PT, R10, RZ, PT, P0 ;                 /* 0x000000ff0a00720c */
                                                                                             /* 0x000fe40003f05300 */
        /*0200*/                   LEA.HI.X R7, R0, c[0x0][0x174], RZ, 0x3, P1 ;             /* 0x00005d0000077a11 */
                                                                                             /* 0x000fe400008f1cff */
        /*0210*/                   FSETP.GTU.AND P1, PT, R2, R5, PT ;                        /* 0x000000050200720b */
                                                                                             /* 0x004fc80003f2c000 */
        /*0220*/                   SEL R11, R11, RZ, !P1 ;                                   /* 0x000000ff0b0b7207 */
                                                                                             /* 0x000fe40004800000 */
        /*0230*/                   SEL R13, R8, RZ, !P1 ;                                    /* 0x000000ff080d7207 */
                                                                                             /* 0x000fe40004800000 */
        /*0240*/              @!P0 BRA 0x360 ;                                               /* 0x0000011000008947 */
                                                                                             /* 0x000fea0003800000 */
        /*0250*/                   LOP3.LUT R4, R11, R9, RZ, 0xfc, !PT ;                     /* 0x000000090b047212 */
                                                                                             /* 0x000fe400078efcff */
        /*0260*/                   LOP3.LUT R8, R13, R10, RZ, 0xfc, !PT ;                    /* 0x0000000a0d087212 */
                                                                                             /* 0x000fe400078efcff */
        /*0270*/                   ISETP.LT.U32.AND P0, PT, R4, c[0x0][0x180], PT ;          /* 0x0000600004007a0c */
                                                                                             /* 0x000fc80003f01070 */
        /*0280*/                   ISETP.LT.U32.AND.EX P0, PT, R8, c[0x0][0x184], PT, P0 ;   /* 0x0000610008007a0c */
                                                                                             /* 0x000fc80003f01100 */
        /*0290*/                   SEL R0, R4, c[0x0][0x180], P0 ;                           /* 0x0000600004007a07 */
                                                                                             /* 0x000fe40000000000 */
        /*02a0*/                   SEL R3, R8, c[0x0][0x184], P0 ;                           /* 0x0000610008037a07 */
                                                                                             /* 0x000fe40000000000 */
        /*02b0*/                   LEA R2, P0, R0, c[0x0][0x160], 0x2 ;                      /* 0x0000580000027a11 */
                                                                                             /* 0x000fc800078010ff */
        /*02c0*/                   LEA.HI.X R3, R0, c[0x0][0x164], R3, 0x2, P0 ;             /* 0x0000590000037a11 */
                                                                                             /* 0x000fd000000f1403 */
        /*02d0*/                   LDG.E.CONSTANT.SYS R2, [R2] ;                             /* 0x0000000002027381 */
                                                                                             /* 0x000ea200001e6900 */
        /*02e0*/                   SHF.R.U64 R9, R9, 0x1, R10.reuse ;                        /* 0x0000000109097819 */
                                                                                             /* 0x100fe4000000120a */
        /*02f0*/                   SHF.R.U32.HI R10, RZ, 0x1, R10 ;                          /* 0x00000001ff0a7819 */
                                                                                             /* 0x000fe4000001160a */
        /*0300*/                   ISETP.NE.U32.AND P0, PT, R9, RZ, PT ;                     /* 0x000000ff0900720c */
                                                                                             /* 0x000fc80003f05070 */
        /*0310*/                   ISETP.NE.AND.EX P0, PT, R10, RZ, PT, P0 ;                 /* 0x000000ff0a00720c */
                                                                                             /* 0x000fe40003f05300 */
        /*0320*/                   FSETP.GE.AND P1, PT, R5, R2, PT ;                         /* 0x000000020500720b */
                                                                                             /* 0x004fc80003f26000 */
        /*0330*/                   SEL R11, R4, R11, P1 ;                                    /* 0x0000000b040b7207 */
                                                                                             /* 0x000fe40000800000 */
        /*0340*/                   SEL R13, R8, R13, P1 ;                                    /* 0x0000000d080d7207 */
                                                                                             /* 0x000fc80000800000 */
        /*0350*/               @P0 BRA 0x250 ;                                               /* 0xfffffef000000947 */
                                                                                             /* 0x000fea000383ffff */
        /*0360*/                   IMAD.MOV.U32 R2, RZ, RZ, R11 ;                            /* 0x000000ffff027224 */
                                                                                             /* 0x000fe400078e000b */
        /*0370*/                   IMAD.MOV.U32 R3, RZ, RZ, R13 ;                            /* 0x000000ffff037224 */
                                                                                             /* 0x000fd000078e000d */
        /*0380*/                   STG.E.64.SYS [R6], R2 ;                                   /* 0x0000000206007386 */
                                                                                             /* 0x000fe2000010eb00 */
        /*0390*/                   EXIT ;                                                    /* 0x000000000000794d */
                                                                                             /* 0x000fea0003800000 */
        /*03a0*/                   BRA 0x3a0;                                                /* 0xfffffff000007947 */
                                                                                             /* 0x000fc0000383ffff */
        /*03b0*/                   NOP;                                                      /* 0x0000000000007918 */
                                                                                             /* 0x000fc00000000000 */
        /*03c0*/                   NOP;                                                      /* 0x0000000000007918 */
                                                                                             /* 0x000fc00000000000 */
        /*03d0*/                   NOP;                                                      /* 0x0000000000007918 */
                                                                                             /* 0x000fc00000000000 */
        /*03e0*/                   NOP;                                                      /* 0x0000000000007918 */
                                                                                             /* 0x000fc00000000000 */
        /*03f0*/                   NOP;                                                      /* 0x0000000000007918 */
                                                                                             /* 0x000fc00000000000 */
		..........


		Function : _Z10kernel_BS2IfEvPKT_S2_Pmmm
	.headerflags	@"EF_CUDA_TEXMODE_UNIFIED EF_CUDA_64BIT_ADDRESS EF_CUDA_SM75 EF_CUDA_VIRTUAL_SM(EF_CUDA_SM75)"
        /*0000*/                   IMAD.MOV.U32 R1, RZ, RZ, c[0x0][0x28] ;                   /* 0x00000a00ff017624 */
                                                                                             /* 0x000fe400078e00ff */
        /*0010*/                   S2R R0, SR_CTAID.X ;                                      /* 0x0000000000007919 */
                                                                                             /* 0x000e280000002500 */
        /*0020*/                   S2R R3, SR_TID.X ;                                        /* 0x0000000000037919 */
                                                                                             /* 0x000e240000002100 */
        /*0030*/                   IMAD R0, R0, c[0x0][0x0], R3 ;                            /* 0x0000000000007a24 */
                                                                                             /* 0x001fca00078e0203 */
        /*0040*/                   ISETP.GE.U32.AND P0, PT, R0, c[0x0][0x178], PT ;          /* 0x00005e0000007a0c */
                                                                                             /* 0x000fc80003f06070 */
        /*0050*/                   ISETP.GE.U32.AND.EX P0, PT, RZ, c[0x0][0x17c], PT, P0 ;   /* 0x00005f00ff007a0c */
                                                                                             /* 0x000fd80003f06100 */
        /*0060*/               @P0 EXIT ;                                                    /* 0x000000000000094d */
                                                                                             /* 0x000fea0003800000 */
        /*0070*/                   UMOV UR4, URZ ;                                           /* 0x0000003f00047c82 */
                                                                                             /* 0x000fe40008000000 */
        /*0080*/                   ULDC.64 UR8, c[0x0][0x180] ;                              /* 0x0000600000087ab9 */
                                                                                             /* 0x000fe40000000a00 */
        /*0090*/                   ULDC UR5, c[0x0][0x184] ;                                 /* 0x0000610000057ab9 */
                                                                                             /* 0x000fe40000000800 */
        /*00a0*/                   USHF.R.U64 UR5, UR8, UR4, UR5 ;                           /* 0x0000000408057299 */
                                                                                             /* 0x000fe40008001205 */
        /*00b0*/                   USHF.R.U32.HI UR6, URZ, UR4, UR9 ;                        /* 0x000000043f067299 */
                                                                                             /* 0x000fc80008011609 */
        /*00c0*/                   ISETP.NE.U32.AND P0, PT, RZ, UR5, PT ;                    /* 0x00000005ff007c0c */
                                                                                             /* 0x000fe2000bf05070 */
        /*00d0*/                   UMOV UR5, UR4 ;                                           /* 0x0000000400057c82 */
                                                                                             /* 0x000fe40008000000 */
        /*00e0*/                   UIADD3 UR4, UR4, 0x1, URZ ;                               /* 0x0000000104047890 */
                                                                                             /* 0x000fe2000fffe03f */
        /*00f0*/                   ISETP.NE.AND.EX P0, PT, RZ, UR6, PT, P0 ;                 /* 0x00000006ff007c0c */
                                                                                             /* 0x000fd8000bf05300 */
        /*0100*/               @P0 BRA 0x90 ;                                                /* 0xffffff8000000947 */
                                                                                             /* 0x000fea000383ffff */
        /*0110*/                   UIADD3 UR4, UR5, -0x1, URZ ;                              /* 0xffffffff05047890 */
                                                                                             /* 0x000fe2000fffe03f */
        /*0120*/                   IMAD.MOV.U32 R8, RZ, RZ, 0x1 ;                            /* 0x00000001ff087424 */
                                                                                             /* 0x000fe200078e00ff */
        /*0130*/                   LEA R4, P1, R0, c[0x0][0x168], 0x2 ;                      /* 0x00005a0000047a11 */
                                                                                             /* 0x000fc800078210ff */
        /*0140*/                   SHF.L.U32 R11, R8.reuse, UR4, RZ ;                        /* 0x00000004080b7c19 */
                                                                                             /* 0x040fe400080006ff */
        /*0150*/                   SHF.L.U64.HI R8, R8, UR4, RZ ;                            /* 0x0000000408087c19 */
                                                                                             /* 0x000fe400080102ff */
        /*0160*/                   LEA R2, P0, R11.reuse, c[0x0][0x160], 0x2 ;               /* 0x000058000b027a11 */
                                                                                             /* 0x040fe400078010ff */
        /*0170*/                   LEA.HI.X R5, R0, c[0x0][0x16c], RZ, 0x2, P1 ;             /* 0x00005b0000057a11 */
                                                                                             /* 0x000fe400008f14ff */
        /*0180*/                   LEA.HI.X R3, R11, c[0x0][0x164], R8, 0x2, P0 ;            /* 0x000059000b037a11 */
                                                                                             /* 0x000fcc00000f1408 */
        /*0190*/                   LDG.E.CONSTANT.SYS R5, [R4] ;                             /* 0x0000000004057381 */
                                                                                             /* 0x000ea800001e6900 */
        /*01a0*/                   LDG.E.CONSTANT.SYS R2, [R2] ;                             /* 0x0000000002027381 */
                                                                                             /* 0x000ea200001e6900 */
        /*01b0*/                   SHF.R.U64 R9, R11, 0x1, R8.reuse ;                        /* 0x000000010b097819 */
                                                                                             /* 0x100fe40000001208 */
        /*01c0*/                   SHF.R.U32.HI R10, RZ, 0x1, R8 ;                           /* 0x00000001ff0a7819 */
                                                                                             /* 0x000fe40000011608 */
        /*01d0*/                   ISETP.NE.U32.AND P0, PT, R9, RZ, PT ;                     /* 0x000000ff0900720c */
                                                                                             /* 0x000fe40003f05070 */
        /*01e0*/                   LEA R6, P1, R0, c[0x0][0x170], 0x3 ;                      /* 0x00005c0000067a11 */
                                                                                             /* 0x000fc400078218ff */
        /*01f0*/                   ISETP.NE.AND.EX P0, PT, R10, RZ, PT, P0 ;                 /* 0x000000ff0a00720c */
                                                                                             /* 0x000fe40003f05300 */
        /*0200*/                   LEA.HI.X R7, R0, c[0x0][0x174], RZ, 0x3, P1 ;             /* 0x00005d0000077a11 */
                                                                                             /* 0x000fe400008f1cff */
        /*0210*/                   FSETP.GTU.AND P1, PT, R2, R5, PT ;                        /* 0x000000050200720b */
                                                                                             /* 0x004fc80003f2c000 */
        /*0220*/                   SEL R11, R11, RZ, !P1 ;                                   /* 0x000000ff0b0b7207 */
                                                                                             /* 0x000fe40004800000 */
        /*0230*/                   SEL R8, R8, RZ, !P1 ;                                     /* 0x000000ff08087207 */
                                                                                             /* 0x000fe40004800000 */
        /*0240*/              @!P0 BRA 0x360 ;                                               /* 0x0000011000008947 */
                                                                                             /* 0x000fea0003800000 */
        /*0250*/                   IMAD.MOV.U32 R0, RZ, RZ, R9 ;                             /* 0x000000ffff007224 */
                                                                                             /* 0x000fe400078e0009 */
        /*0260*/                   IMAD.MOV.U32 R9, RZ, RZ, R10 ;                            /* 0x000000ffff097224 */
                                                                                             /* 0x000fc600078e000a */
        /*0270*/                   LOP3.LUT R4, R11, R0, RZ, 0xfc, !PT ;                     /* 0x000000000b047212 */
                                                                                             /* 0x000fe400078efcff */
        /*0280*/                   LOP3.LUT R13, R8, R9, RZ, 0xfc, !PT ;                     /* 0x00000009080d7212 */
                                                                                             /* 0x000fe400078efcff */
        /*0290*/                   ISETP.GE.U32.AND P1, PT, R4, c[0x0][0x180], PT ;          /* 0x0000600004007a0c */
                                                                                             /* 0x000fc80003f26070 */
        /*02a0*/                   ISETP.GE.U32.AND.EX P1, PT, R13, c[0x0][0x184], PT, P1 ;  /* 0x000061000d007a0c */
                                                                                             /* 0x000fd80003f26110 */
        /*02b0*/              @!P1 LEA R2, P0, R4, c[0x0][0x160], 0x2 ;                      /* 0x0000580004029a11 */
                                                                                             /* 0x000fc800078010ff */
        /*02c0*/              @!P1 LEA.HI.X R3, R4, c[0x0][0x164], R13, 0x2, P0 ;            /* 0x0000590004039a11 */
                                                                                             /* 0x000fd000000f140d */
        /*02d0*/              @!P1 LDG.E.CONSTANT.SYS R2, [R2] ;                             /* 0x0000000002029381 */
                                                                                             /* 0x000ea200001e6900 */
        /*02e0*/                   SHF.R.U64 R0, R0, 0x1, R9.reuse ;                         /* 0x0000000100007819 */
                                                                                             /* 0x100fe40000001209 */
        /*02f0*/                   SHF.R.U32.HI R9, RZ, 0x1, R9 ;                            /* 0x00000001ff097819 */
                                                                                             /* 0x000fe40000011609 */
        /*0300*/                   ISETP.NE.U32.AND P0, PT, R0, RZ, PT ;                     /* 0x000000ff0000720c */
                                                                                             /* 0x000fc80003f05070 */
        /*0310*/                   ISETP.NE.AND.EX P0, PT, R9, RZ, PT, P0 ;                  /* 0x000000ff0900720c */
                                                                                             /* 0x000fe40003f05300 */
        /*0320*/                   FSETP.GE.AND P1, PT, R5, R2, !P1 ;                        /* 0x000000020500720b */
                                                                                             /* 0x004fc80004f26000 */
        /*0330*/                   SEL R11, R4, R11, P1 ;                                    /* 0x0000000b040b7207 */
                                                                                             /* 0x000fe40000800000 */
        /*0340*/                   SEL R8, R13, R8, P1 ;                                     /* 0x000000080d087207 */
                                                                                             /* 0x000fc80000800000 */
        /*0350*/               @P0 BRA 0x270 ;                                               /* 0xffffff1000000947 */
                                                                                             /* 0x000fea000383ffff */
        /*0360*/                   IMAD.MOV.U32 R2, RZ, RZ, R11 ;                            /* 0x000000ffff027224 */
                                                                                             /* 0x000fe400078e000b */
        /*0370*/                   IMAD.MOV.U32 R3, RZ, RZ, R8 ;                             /* 0x000000ffff037224 */
                                                                                             /* 0x000fd000078e0008 */
        /*0380*/                   STG.E.64.SYS [R6], R2 ;                                   /* 0x0000000206007386 */
                                                                                             /* 0x000fe2000010eb00 */
        /*0390*/                   EXIT ;                                                    /* 0x000000000000794d */
                                                                                             /* 0x000fea0003800000 */
        /*03a0*/                   BRA 0x3a0;                                                /* 0xfffffff000007947 */
                                                                                             /* 0x000fc0000383ffff */
        /*03b0*/                   NOP;                                                      /* 0x0000000000007918 */
                                                                                             /* 0x000fc00000000000 */
        /*03c0*/                   NOP;                                                      /* 0x0000000000007918 */
                                                                                             /* 0x000fc00000000000 */
        /*03d0*/                   NOP;                                                      /* 0x0000000000007918 */
                                                                                             /* 0x000fc00000000000 */
        /*03e0*/                   NOP;                                                      /* 0x0000000000007918 */
                                                                                             /* 0x000fc00000000000 */
        /*03f0*/                   NOP;                                                      /* 0x0000000000007918 */
                                                                                             /* 0x000fc00000000000 */
		..........


		Function : _Z9kernel_BSIfEvPKT_S2_Pmmm
	.headerflags	@"EF_CUDA_TEXMODE_UNIFIED EF_CUDA_64BIT_ADDRESS EF_CUDA_SM75 EF_CUDA_VIRTUAL_SM(EF_CUDA_SM75)"
        /*0000*/                   IMAD.MOV.U32 R1, RZ, RZ, c[0x0][0x28] ;                   /* 0x00000a00ff017624 */
                                                                                             /* 0x000fe400078e00ff */
        /*0010*/                   S2R R0, SR_CTAID.X ;                                      /* 0x0000000000007919 */
                                                                                             /* 0x000e280000002500 */
        /*0020*/                   S2R R3, SR_TID.X ;                                        /* 0x0000000000037919 */
                                                                                             /* 0x000e240000002100 */
        /*0030*/                   IMAD R0, R0, c[0x0][0x0], R3 ;                            /* 0x0000000000007a24 */
                                                                                             /* 0x001fca00078e0203 */
        /*0040*/                   ISETP.GE.U32.AND P0, PT, R0, c[0x0][0x178], PT ;          /* 0x00005e0000007a0c */
                                                                                             /* 0x000fc80003f06070 */
        /*0050*/                   ISETP.GE.U32.AND.EX P0, PT, RZ, c[0x0][0x17c], PT, P0 ;   /* 0x00005f00ff007a0c */
                                                                                             /* 0x000fd80003f06100 */
        /*0060*/               @P0 EXIT ;                                                    /* 0x000000000000094d */
                                                                                             /* 0x000fea0003800000 */
        /*0070*/                   IMAD.MOV.U32 R2, RZ, RZ, c[0x0][0x180] ;                  /* 0x00006000ff027624 */
                                                                                             /* 0x000fe200078e00ff */
        /*0080*/                   LEA R4, P1, R0, c[0x0][0x170], 0x3 ;                      /* 0x00005c0000047a11 */
                                                                                             /* 0x000fe200078218ff */
        /*0090*/                   IMAD.MOV.U32 R3, RZ, RZ, c[0x0][0x184] ;                  /* 0x00006100ff037624 */
                                                                                             /* 0x000fe200078e00ff */
        /*00a0*/                   CS2R R10, SRZ ;                                           /* 0x00000000000a7805 */
                                                                                             /* 0x000fe4000001ff00 */
        /*00b0*/                   ISETP.GE.U32.AND P0, PT, R2, 0x2, PT ;                    /* 0x000000020200780c */
                                                                                             /* 0x000fe40003f06070 */
        /*00c0*/                   LEA.HI.X R5, R0, c[0x0][0x174], RZ, 0x3, P1 ;             /* 0x00005d0000057a11 */
                                                                                             /* 0x000fe400008f1cff */
        /*00d0*/                   ISETP.GE.U32.AND.EX P0, PT, R3, RZ, PT, P0 ;              /* 0x000000ff0300720c */
                                                                                             /* 0x000fd80003f06100 */
        /*00e0*/              @!P0 BRA 0x2b0 ;                                               /* 0x000001c000008947 */
                                                                                             /* 0x000fea0003800000 */
        /*00f0*/                   LEA R2, P0, R0, c[0x0][0x168], 0x2 ;                      /* 0x00005a0000027a11 */
                                                                                             /* 0x000fc800078010ff */
        /*0100*/                   LEA.HI.X R3, R0, c[0x0][0x16c], RZ, 0x2, P0 ;             /* 0x00005b0000037a11 */
                                                                                             /* 0x000fd000000f14ff */
        /*0110*/                   LDG.E.CONSTANT.SYS R0, [R2] ;                             /* 0x0000000002007381 */
                                                                                             /* 0x00016200001e6900 */
        /*0120*/                   BMOV.32.CLEAR RZ, B0 ;                                    /* 0x0000000000ff7355 */
                                                                                             /* 0x000fe20000100000 */
        /*0130*/                   BSSY B0, 0x2b0 ;                                          /* 0x0000017000007945 */
                                                                                             /* 0x000fe20003800000 */
        /*0140*/                   IMAD.MOV.U32 R6, RZ, RZ, c[0x0][0x180] ;                  /* 0x00006000ff067624 */
                                                                                             /* 0x000fe200078e00ff */
        /*0150*/                   CS2R R10, SRZ ;                                           /* 0x00000000000a7805 */
                                                                                             /* 0x000fe2000001ff00 */
        /*0160*/                   IMAD.MOV.U32 R7, RZ, RZ, c[0x0][0x184] ;                  /* 0x00006100ff077624 */
                                                                                             /* 0x000fe400078e00ff */
        /*0170*/                   IMAD.MOV.U32 R9, RZ, RZ, c[0x0][0x180] ;                  /* 0x00006000ff097624 */
                                                                                             /* 0x000fe400078e00ff */
        /*0180*/                   IMAD.MOV.U32 R8, RZ, RZ, c[0x0][0x184] ;                  /* 0x00006100ff087624 */
                                                                                             /* 0x001fe400078e00ff */
        /*0190*/                   SHF.R.U64 R6, R6, 0x1, R7.reuse ;                         /* 0x0000000106067819 */
                                                                                             /* 0x100fe40000001207 */
        /*01a0*/                   SHF.R.U32.HI R7, RZ, 0x1, R7 ;                            /* 0x00000001ff077819 */
                                                                                             /* 0x000fc40000011607 */
        /*01b0*/                   IADD3 R6, P0, R11, R6, RZ ;                               /* 0x000000060b067210 */
                                                                                             /* 0x000fca0007f1e0ff */
        /*01c0*/                   IMAD.X R7, R10, 0x1, R7, P0 ;                             /* 0x000000010a077824 */
                                                                                             /* 0x000fe200000e0607 */
        /*01d0*/                   LEA R2, P0, R6, c[0x0][0x160], 0x2 ;                      /* 0x0000580006027a11 */
                                                                                             /* 0x000fc800078010ff */
        /*01e0*/                   LEA.HI.X R3, R6, c[0x0][0x164], R7, 0x2, P0 ;             /* 0x0000590006037a11 */
                                                                                             /* 0x000fd000000f1407 */
        /*01f0*/                   LDG.E.CONSTANT.SYS R3, [R2] ;                             /* 0x0000000002037381 */
                                                                                             /* 0x000ea400001e6900 */
        /*0200*/                   FSETP.GEU.AND P0, PT, R0, R3, PT ;                        /* 0x000000030000720b */
                                                                                             /* 0x024fc80003f0e000 */
        /*0210*/                   SEL R11, R11, R6, !P0 ;                                   /* 0x000000060b0b7207 */
                                                                                             /* 0x000fe40004000000 */
        /*0220*/                   SEL R9, R6, R9, !P0 ;                                     /* 0x0000000906097207 */
                                                                                             /* 0x000fe40004000000 */
        /*0230*/                   SEL R10, R10, R7, !P0 ;                                   /* 0x000000070a0a7207 */
                                                                                             /* 0x000fe40004000000 */
        /*0240*/                   IADD3 R6, P1, R9, -R11, RZ ;                              /* 0x8000000b09067210 */
                                                                                             /* 0x000fe40007f3e0ff */
        /*0250*/                   SEL R8, R7, R8, !P0 ;                                     /* 0x0000000807087207 */
                                                                                             /* 0x000fe40004000000 */
        /*0260*/                   ISETP.GT.U32.AND P0, PT, R6, 0x1, PT ;                    /* 0x000000010600780c */
                                                                                             /* 0x000fc60003f04070 */
        /*0270*/                   IMAD.X R7, R8, 0x1, ~R10, P1 ;                            /* 0x0000000108077824 */
                                                                                             /* 0x000fca00008e0e0a */
        /*0280*/                   ISETP.GT.U32.AND.EX P0, PT, R7, RZ, PT, P0 ;              /* 0x000000ff0700720c */
                                                                                             /* 0x000fd80003f04100 */
        /*0290*/               @P0 BRA 0x190 ;                                               /* 0xfffffef000000947 */
                                                                                             /* 0x000fea000383ffff */
        /*02a0*/                   BSYNC B0 ;                                                /* 0x0000000000007941 */
                                                                                             /* 0x000fea0003800000 */
        /*02b0*/                   IMAD.MOV.U32 R2, RZ, RZ, R11 ;                            /* 0x000000ffff027224 */
                                                                                             /* 0x000fe400078e000b */
        /*02c0*/                   IMAD.MOV.U32 R3, RZ, RZ, R10 ;                            /* 0x000000ffff037224 */
                                                                                             /* 0x000fd000078e000a */
        /*02d0*/                   STG.E.64.SYS [R4], R2 ;                                   /* 0x0000000204007386 */
                                                                                             /* 0x000fe2000010eb00 */
        /*02e0*/                   EXIT ;                                                    /* 0x000000000000794d */
                                                                                             /* 0x000fea0003800000 */
        /*02f0*/                   BRA 0x2f0;                                                /* 0xfffffff000007947 */
                                                                                             /* 0x000fc0000383ffff */
		..........



Fatbin ptx code:
================
arch = sm_75
code version = [8,5]
host = linux
compile_size = 64bit
compressed
ptxasOptions = 
