
Fatbin elf code:
================
arch = sm_75
code version = [1,7]
host = linux
compile_size = 64bit

	code for sm_75

Fatbin elf code:
================
arch = sm_75
code version = [1,7]
host = linux
compile_size = 64bit

	code for sm_75

Fatbin ptx code:
================
arch = sm_75
code version = [8,5]
host = linux
compile_size = 64bit
compressed
ptxasOptions = 

Fatbin elf code:
================
arch = sm_75
code version = [1,7]
host = linux
compile_size = 64bit

	code for sm_75
		Function : _Z19k_iterate_hashtableP8KeyValueS0_Pj
	.headerflags	@"EF_CUDA_TEXMODE_UNIFIED EF_CUDA_64BIT_ADDRESS EF_CUDA_SM75 EF_CUDA_VIRTUAL_SM(EF_CUDA_SM75)"
        /*0000*/                   IMAD.MOV.U32 R1, RZ, RZ, c[0x0][0x28] ;           /* 0x00000a00ff017624 */
                                                                                     /* 0x000fe400078e00ff */
        /*0010*/                   S2R R2, SR_CTAID.X ;                              /* 0x0000000000027919 */
                                                                                     /* 0x000e280000002500 */
        /*0020*/                   S2R R3, SR_TID.X ;                                /* 0x0000000000037919 */
                                                                                     /* 0x000e240000002100 */
        /*0030*/                   IMAD R2, R2, c[0x0][0x0], R3 ;                    /* 0x0000000002027a24 */
                                                                                     /* 0x001fca00078e0203 */
        /*0040*/                   ISETP.GT.U32.AND P0, PT, R2, 0x3ffffff, PT ;      /* 0x03ffffff0200780c */
                                                                                     /* 0x000fd80003f04070 */
        /*0050*/               @P0 EXIT ;                                            /* 0x000000000000094d */
                                                                                     /* 0x000fea0003800000 */
        /*0060*/                   MOV R11, 0x8 ;                                    /* 0x00000008000b7802 */
                                                                                     /* 0x000fca0000000f00 */
        /*0070*/                   IMAD.WIDE.U32 R2, R2, R11, c[0x0][0x160] ;        /* 0x0000580002027625 */
                                                                                     /* 0x000fd000078e000b */
        /*0080*/                   LDG.E.CONSTANT.SYS R5, [R2] ;                     /* 0x0000000002057381 */
                                                                                     /* 0x000ea400001e6900 */
        /*0090*/                   ISETP.NE.AND P0, PT, R5, -0x1, PT ;               /* 0xffffffff0500780c */
                                                                                     /* 0x004fd80003f05270 */
        /*00a0*/              @!P0 EXIT ;                                            /* 0x000000000000894d */
                                                                                     /* 0x000fea0003800000 */
        /*00b0*/                   LDG.E.CONSTANT.SYS R7, [R2+0x4] ;                 /* 0x0000040002077381 */
                                                                                     /* 0x000ea400001e6900 */
        /*00c0*/                   ISETP.NE.AND P0, PT, R7, -0x1, PT ;               /* 0xffffffff0700780c */
                                                                                     /* 0x004fd80003f05270 */
        /*00d0*/              @!P0 EXIT ;                                            /* 0x000000000000894d */
                                                                                     /* 0x000fea0003800000 */
        /*00e0*/                   S2R R3, SR_LANEID ;                               /* 0x0000000000037919 */
                                                                                     /* 0x000e220000000000 */
        /*00f0*/                   VOTEU.ANY UR6, UPT, PT ;                          /* 0x0000000000067886 */
                                                                                     /* 0x000fe400038e0100 */
        /*0100*/                   FLO.U32 R4, UR6 ;                                 /* 0x0000000600047d00 */
                                                                                     /* 0x000e2200080e0000 */
        /*0110*/                   ULDC.64 UR4, c[0x0][0x170] ;                      /* 0x00005c0000047ab9 */
                                                                                     /* 0x000fce0000000a00 */
        /*0120*/                   POPC R0, UR6 ;                                    /* 0x0000000600007d09 */
                                                                                     /* 0x000e620008000000 */
        /*0130*/                   ISETP.EQ.U32.AND P0, PT, R4, R3, PT ;             /* 0x000000030400720c */
                                                                                     /* 0x001fd80003f02070 */
        /*0140*/               @P0 ATOMG.E.ADD.STRONG.GPU PT, R9, [UR4], R0 ;        /* 0x00000000ff0909a8 */
                                                                                     /* 0x002ea800081f4144 */
        /*0150*/                   S2R R3, SR_LTMASK ;                               /* 0x0000000000037919 */
                                                                                     /* 0x000e240000003900 */
        /*0160*/                   LOP3.LUT R6, R3, UR6, RZ, 0xc0, !PT ;             /* 0x0000000603067c12 */
                                                                                     /* 0x001fcc000f8ec0ff */
        /*0170*/                   POPC R3, R6 ;                                     /* 0x0000000600037309 */
                                                                                     /* 0x000e220000000000 */
        /*0180*/                   SHFL.IDX PT, R2, R9, R4, 0x1f ;                   /* 0x00001f0409027589 */
                                                                                     /* 0x004e2400000e0000 */
        /*0190*/                   IMAD.IADD R2, R2, 0x1, R3 ;                       /* 0x0000000102027824 */
                                                                                     /* 0x001fc800078e0203 */
        /*01a0*/                   IMAD.WIDE.U32 R2, R2, R11, c[0x0][0x168] ;        /* 0x00005a0002027625 */
                                                                                     /* 0x000fd000078e000b */
        /*01b0*/                   STG.E.SYS [R2], R5 ;                              /* 0x0000000502007386 */
                                                                                     /* 0x000fe8000010e900 */
        /*01c0*/                   STG.E.SYS [R2+0x4], R7 ;                          /* 0x0000040702007386 */
                                                                                     /* 0x000fe2000010e900 */
        /*01d0*/                   EXIT ;                                            /* 0x000000000000794d */
                                                                                     /* 0x000fea0003800000 */
        /*01e0*/                   BRA 0x1e0;                                        /* 0xfffffff000007947 */
                                                                                     /* 0x000fc0000383ffff */
        /*01f0*/                   NOP;                                              /* 0x0000000000007918 */
                                                                                     /* 0x000fc00000000000 */
		..........


		Function : _Z18k_hashtable_deleteP8KeyValuePKS_j
	.headerflags	@"EF_CUDA_TEXMODE_UNIFIED EF_CUDA_64BIT_ADDRESS EF_CUDA_SM75 EF_CUDA_VIRTUAL_SM(EF_CUDA_SM75)"
        /*0000*/                   IMAD.MOV.U32 R1, RZ, RZ, c[0x0][0x28] ;           /* 0x00000a00ff017624 */
                                                                                     /* 0x000fe400078e00ff */
        /*0010*/                   S2R R2, SR_CTAID.X ;                              /* 0x0000000000027919 */
                                                                                     /* 0x000e280000002500 */
        /*0020*/                   S2R R3, SR_TID.X ;                                /* 0x0000000000037919 */
                                                                                     /* 0x000e240000002100 */
        /*0030*/                   IMAD R2, R2, c[0x0][0x0], R3 ;                    /* 0x0000000002027a24 */
                                                                                     /* 0x001fca00078e0203 */
        /*0040*/                   ISETP.GE.U32.AND P0, PT, R2, c[0x0][0x170], PT ;  /* 0x00005c0002007a0c */
                                                                                     /* 0x000fd80003f06070 */
        /*0050*/               @P0 EXIT ;                                            /* 0x000000000000094d */
                                                                                     /* 0x000fea0003800000 */
        /*0060*/                   IMAD.MOV.U32 R7, RZ, RZ, 0x8 ;                    /* 0x00000008ff077424 */
                                                                                     /* 0x000fc800078e00ff */
        /*0070*/                   IMAD.WIDE.U32 R2, R2, R7, c[0x0][0x168] ;         /* 0x00005a0002027625 */
                                                                                     /* 0x000fd000078e0007 */
        /*0080*/                   LDG.E.CONSTANT.SYS R0, [R2] ;                     /* 0x0000000002007381 */
                                                                                     /* 0x000ea400001e6900 */
        /*0090*/                   SHF.R.U32.HI R5, RZ, 0x10, R0 ;                   /* 0x00000010ff057819 */
                                                                                     /* 0x004fc80000011600 */
        /*00a0*/                   LOP3.LUT R5, R5, R0, RZ, 0x3c, !PT ;              /* 0x0000000005057212 */
                                                                                     /* 0x000fca00078e3cff */
        /*00b0*/                   IMAD R5, R5, -0x7a143595, RZ ;                    /* 0x85ebca6b05057824 */
                                                                                     /* 0x000fca00078e02ff */
        /*00c0*/                   SHF.R.U32.HI R4, RZ, 0xd, R5 ;                    /* 0x0000000dff047819 */
                                                                                     /* 0x000fc80000011605 */
        /*00d0*/                   LOP3.LUT R4, R4, R5, RZ, 0x3c, !PT ;              /* 0x0000000504047212 */
                                                                                     /* 0x000fca00078e3cff */
        /*00e0*/                   IMAD R4, R4, -0x3d4d51cb, RZ ;                    /* 0xc2b2ae3504047824 */
                                                                                     /* 0x000fca00078e02ff */
        /*00f0*/                   SHF.R.U32.HI R5, RZ, 0x10, R4 ;                   /* 0x00000010ff057819 */
                                                                                     /* 0x000fc80000011604 */
        /*0100*/                   LOP3.LUT R2, R5, 0x3ffffff, R4, 0x78, !PT ;       /* 0x03ffffff05027812 */
                                                                                     /* 0x000fca00078e7804 */
        /*0110*/                   IMAD.WIDE.U32 R4, R2, R7, c[0x0][0x160] ;         /* 0x0000580002047625 */
                                                                                     /* 0x000fd000078e0007 */
        /*0120*/                   LDG.E.SYS R5, [R4] ;                              /* 0x0000000004057381 */
                                                                                     /* 0x000ea200001ee900 */
        /*0130*/                   BMOV.32.CLEAR RZ, B0 ;                            /* 0x0000000000ff7355 */
                                                                                     /* 0x000fe20000100000 */
        /*0140*/                   BSSY B0, 0x270 ;                                  /* 0x0000012000007945 */
                                                                                     /* 0x000fe20003800000 */
        /*0150*/                   IMAD.MOV.U32 R3, RZ, RZ, RZ ;                     /* 0x000000ffff037224 */
                                                                                     /* 0x000fe200078e00ff */
        /*0160*/                   ISETP.NE.AND P0, PT, R5, R0, PT ;                 /* 0x000000000500720c */
                                                                                     /* 0x004fd80003f05270 */
        /*0170*/              @!P0 BRA 0x260 ;                                       /* 0x000000e000008947 */
                                                                                     /* 0x000fea0003800000 */
        /*0180*/                   BMOV.32.CLEAR RZ, B1 ;                            /* 0x0000000001ff7355 */
                                                                                     /* 0x000fe20000100000 */
        /*0190*/                   BSSY B1, 0x260 ;                                  /* 0x000000c000017945 */
                                                                                     /* 0x000fe40003800000 */
        /*01a0*/                   ISETP.NE.AND P0, PT, R5, -0x1, PT ;               /* 0xffffffff0500780c */
                                                                                     /* 0x000fd80003f05270 */
        /*01b0*/              @!P0 EXIT ;                                            /* 0x000000000000894d */
                                                                                     /* 0x000fea0003800000 */
        /*01c0*/                   IADD3 R2, R2, 0x1, RZ ;                           /* 0x0000000102027810 */
                                                                                     /* 0x000fe20007ffe0ff */
        /*01d0*/                   ULDC.64 UR4, c[0x0][0x160] ;                      /* 0x0000580000047ab9 */
                                                                                     /* 0x000fc80000000a00 */
        /*01e0*/                   IMAD.SHL.U32 R3, R2, 0x8, RZ ;                    /* 0x0000000802037824 */
                                                                                     /* 0x000fca00078e00ff */
        /*01f0*/                   LOP3.LUT R3, R3, 0x1ffffff8, RZ, 0xc0, !PT ;      /* 0x1ffffff803037812 */
                                                                                     /* 0x000fd000078ec0ff */
        /*0200*/                   LDG.E.SYS R5, [R3.U32+UR4] ;                      /* 0x0000000403057981 */
                                                                                     /* 0x0000a200081ee900 */
        /*0210*/                   LOP3.LUT R2, R2, 0x3ffffff, RZ, 0xc0, !PT ;       /* 0x03ffffff02027812 */
                                                                                     /* 0x000fe200078ec0ff */
        /*0220*/                   IMAD.MOV.U32 R3, RZ, RZ, RZ ;                     /* 0x000000ffff037224 */
                                                                                     /* 0x001fe200078e00ff */
        /*0230*/                   ISETP.NE.AND P0, PT, R5, R0, PT ;                 /* 0x000000000500720c */
                                                                                     /* 0x004fd80003f05270 */
        /*0240*/               @P0 BRA 0x1a0 ;                                       /* 0xffffff5000000947 */
                                                                                     /* 0x000fea000383ffff */
        /*0250*/                   BSYNC B1 ;                                        /* 0x0000000000017941 */
                                                                                     /* 0x000fea0003800000 */
        /*0260*/                   BSYNC B0 ;                                        /* 0x0000000000007941 */
                                                                                     /* 0x000fea0003800000 */
        /*0270*/                   LEA R4, P0, R2, c[0x0][0x160], 0x3 ;              /* 0x0000580002047a11 */
                                                                                     /* 0x000fe200078018ff */
        /*0280*/                   IMAD.MOV.U32 R7, RZ, RZ, -0x1 ;                   /* 0xffffffffff077424 */
                                                                                     /* 0x000fc600078e00ff */
        /*0290*/                   LEA.HI.X R5, R2, c[0x0][0x164], R3, 0x3, P0 ;     /* 0x0000590002057a11 */
                                                                                     /* 0x000fd000000f1c03 */
        /*02a0*/                   STG.E.SYS [R4+0x4], R7 ;                          /* 0x0000040704007386 */
                                                                                     /* 0x000fe2000010e900 */
        /*02b0*/                   EXIT ;                                            /* 0x000000000000794d */
                                                                                     /* 0x000fea0003800000 */
        /*02c0*/                   BRA 0x2c0;                                        /* 0xfffffff000007947 */
                                                                                     /* 0x000fc0000383ffff */
        /*02d0*/                   NOP;                                              /* 0x0000000000007918 */
                                                                                     /* 0x000fc00000000000 */
        /*02e0*/                   NOP;                                              /* 0x0000000000007918 */
                                                                                     /* 0x000fc00000000000 */
        /*02f0*/                   NOP;                                              /* 0x0000000000007918 */
                                                                                     /* 0x000fc00000000000 */
		..........


		Function : _Z18k_hashtable_insertP8KeyValuePKS_j
	.headerflags	@"EF_CUDA_TEXMODE_UNIFIED EF_CUDA_64BIT_ADDRESS EF_CUDA_SM75 EF_CUDA_VIRTUAL_SM(EF_CUDA_SM75)"
        /*0000*/                   IMAD.MOV.U32 R1, RZ, RZ, c[0x0][0x28] ;           /* 0x00000a00ff017624 */
                                                                                     /* 0x000fe400078e00ff */
        /*0010*/                   S2R R2, SR_CTAID.X ;                              /* 0x0000000000027919 */
                                                                                     /* 0x000e280000002500 */
        /*0020*/                   S2R R3, SR_TID.X ;                                /* 0x0000000000037919 */
                                                                                     /* 0x000e240000002100 */
        /*0030*/                   IMAD R2, R2, c[0x0][0x0], R3 ;                    /* 0x0000000002027a24 */
                                                                                     /* 0x001fca00078e0203 */
        /*0040*/                   ISETP.GE.U32.AND P0, PT, R2, c[0x0][0x170], PT ;  /* 0x00005c0002007a0c */
                                                                                     /* 0x000fd80003f06070 */
        /*0050*/               @P0 EXIT ;                                            /* 0x000000000000094d */
                                                                                     /* 0x000fea0003800000 */
        /*0060*/                   IMAD.MOV.U32 R7, RZ, RZ, 0x8 ;                    /* 0x00000008ff077424 */
                                                                                     /* 0x000fc800078e00ff */
        /*0070*/                   IMAD.WIDE.U32 R2, R2, R7, c[0x0][0x168] ;         /* 0x00005a0002027625 */
                                                                                     /* 0x000fd000078e0007 */
        /*0080*/                   LDG.E.CONSTANT.SYS R9, [R2] ;                     /* 0x0000000002097381 */
                                                                                     /* 0x000ea200001e6900 */
        /*0090*/                   IMAD.MOV.U32 R8, RZ, RZ, -0x1 ;                   /* 0xffffffffff087424 */
                                                                                     /* 0x000fe200078e00ff */
        /*00a0*/                   SHF.R.U32.HI R0, RZ, 0x10, R9 ;                   /* 0x00000010ff007819 */
                                                                                     /* 0x004fc80000011609 */
        /*00b0*/                   LOP3.LUT R0, R0, R9, RZ, 0x3c, !PT ;              /* 0x0000000900007212 */
                                                                                     /* 0x000fca00078e3cff */
        /*00c0*/                   IMAD R0, R0, -0x7a143595, RZ ;                    /* 0x85ebca6b00007824 */
                                                                                     /* 0x000fca00078e02ff */
        /*00d0*/                   SHF.R.U32.HI R5, RZ, 0xd, R0 ;                    /* 0x0000000dff057819 */
                                                                                     /* 0x000fc80000011600 */
        /*00e0*/                   LOP3.LUT R5, R5, R0, RZ, 0x3c, !PT ;              /* 0x0000000005057212 */
                                                                                     /* 0x000fca00078e3cff */
        /*00f0*/                   IMAD R5, R5, -0x3d4d51cb, RZ ;                    /* 0xc2b2ae3505057824 */
                                                                                     /* 0x000fca00078e02ff */
        /*0100*/                   SHF.R.U32.HI R0, RZ, 0x10, R5 ;                   /* 0x00000010ff007819 */
                                                                                     /* 0x000fc80000011605 */
        /*0110*/                   LOP3.LUT R0, R0, 0x3ffffff, R5, 0x78, !PT ;       /* 0x03ffffff00007812 */
                                                                                     /* 0x000fca00078e7805 */
        /*0120*/                   IMAD.WIDE.U32 R4, R0, R7, c[0x0][0x160] ;         /* 0x0000580000047625 */
                                                                                     /* 0x000fe200078e0007 */
        /*0130*/                   BMOV.32.CLEAR RZ, B0 ;                            /* 0x0000000000ff7355 */
                                                                                     /* 0x000fe20000100000 */
        /*0140*/                   LDG.E.CONSTANT.SYS R7, [R2+0x4] ;                 /* 0x0000040002077381 */
                                                                                     /* 0x00016c00001e6900 */
        /*0150*/                   ATOMG.E.CAS.STRONG.GPU PT, R4, [R4], R8, R9 ;     /* 0x00000008040473a9 */
                                                                                     /* 0x000ea200001f4109 */
        /*0160*/                   BSSY B0, 0x300 ;                                  /* 0x0000019000007945 */
                                                                                     /* 0x000fe20003800000 */
        /*0170*/                   IMAD.MOV.U32 R2, RZ, RZ, R0 ;                     /* 0x000000ffff027224 */
                                                                                     /* 0x001fc400078e0000 */
        /*0180*/                   IMAD.MOV.U32 R3, RZ, RZ, RZ ;                     /* 0x000000ffff037224 */
                                                                                     /* 0x000fe200078e00ff */
        /*0190*/                   ISETP.NE.AND P0, PT, R4, R9, PT ;                 /* 0x000000090400720c */
                                                                                     /* 0x004fc80003f05270 */
        /*01a0*/                   ISETP.EQ.OR P0, PT, R4, -0x1, !P0 ;               /* 0xffffffff0400780c */
                                                                                     /* 0x000fd80004702670 */
        /*01b0*/               @P0 BRA 0x2f0 ;                                       /* 0x0000013000000947 */
                                                                                     /* 0x000fea0003800000 */
        /*01c0*/                   IADD3 R0, R0, 0x1, RZ ;                           /* 0x0000000100007810 */
                                                                                     /* 0x000fe20007ffe0ff */
        /*01d0*/                   IMAD.MOV.U32 R8, RZ, RZ, -0x1 ;                   /* 0xffffffffff087424 */
                                                                                     /* 0x000fc800078e00ff */
        /*01e0*/                   IMAD.SHL.U32 R2, R0, 0x8, RZ ;                    /* 0x0000000800027824 */
                                                                                     /* 0x000fca00078e00ff */
        /*01f0*/                   LOP3.LUT R2, R2, 0x1ffffff8, RZ, 0xc0, !PT ;      /* 0x1ffffff802027812 */
                                                                                     /* 0x000fc800078ec0ff */
        /*0200*/                   IADD3 R2, P0, R2, c[0x0][0x160], RZ ;             /* 0x0000580002027a10 */
                                                                                     /* 0x000fca0007f1e0ff */
        /*0210*/                   IMAD.X R3, RZ, RZ, c[0x0][0x164], P0 ;            /* 0x00005900ff037624 */
                                                                                     /* 0x000fd000000e06ff */
        /*0220*/                   ATOMG.E.CAS.STRONG.GPU PT, R2, [R2], R8, R9 ;     /* 0x00000008020273a9 */
                                                                                     /* 0x0000a200001f4109 */
        /*0230*/                   LOP3.LUT R0, R0, 0x3ffffff, RZ, 0xc0, !PT ;       /* 0x03ffffff00007812 */
                                                                                     /* 0x000fe200078ec0ff */
        /*0240*/                   IMAD.MOV.U32 R3, RZ, RZ, RZ ;                     /* 0x000000ffff037224 */
                                                                                     /* 0x001fe200078e00ff */
        /*0250*/                   ISETP.NE.AND P0, PT, R2, R9, PT ;                 /* 0x000000090200720c */
                                                                                     /* 0x004fc80003f05270 */
        /*0260*/                   ISETP.NE.AND P0, PT, R2, -0x1, P0 ;               /* 0xffffffff0200780c */
                                                                                     /* 0x000fe20000705270 */
        /*0270*/                   IMAD.MOV.U32 R2, RZ, RZ, R0 ;                     /* 0x000000ffff027224 */
                                                                                     /* 0x000fd600078e0000 */
        /*0280*/              @!P0 BRA 0x2f0 ;                                       /* 0x0000006000008947 */
                                                                                     /* 0x000fea0003800000 */
        /*0290*/                   VOTE.ANY R2, PT, PT ;                             /* 0x0000000000027806 */
                                                                                     /* 0x000fe200038e0100 */
        /*02a0*/                   YIELD ;                                           /* 0x0000000000007946 */
                                                                                     /* 0x000fe20003800000 */
        /*02b0*/                   VOTEU.ANY UR4, UPT, PT ;                          /* 0x0000000000047886 */
                                                                                     /* 0x000fe400038e0100 */
        /*02c0*/                   LOP3.LUT P0, RZ, R2, UR4, RZ, 0xc, !PT ;          /* 0x0000000402ff7c12 */
                                                                                     /* 0x000fd8000f800cff */
        /*02d0*/              @!P0 BRA.U 0x1c0 ;                                     /* 0xfffffee100008947 */
                                                                                     /* 0x020fea000383ffff */
        /*02e0*/                   BRA 0x290 ;                                       /* 0xffffffa000007947 */
                                                                                     /* 0x000fea000383ffff */
        /*02f0*/                   BSYNC B0 ;                                        /* 0x0000000000007941 */
                                                                                     /* 0x000fea0003800000 */
        /*0300*/                   LEA R4, P0, R2, c[0x0][0x160], 0x3 ;              /* 0x0000580002047a11 */
                                                                                     /* 0x000fc800078018ff */
        /*0310*/                   LEA.HI.X R5, R2, c[0x0][0x164], R3, 0x3, P0 ;     /* 0x0000590002057a11 */
                                                                                     /* 0x000fd000000f1c03 */
        /*0320*/                   STG.E.SYS [R4+0x4], R7 ;                          /* 0x0000040704007386 */
                                                                                     /* 0x020fe2000010e900 */
        /*0330*/                   EXIT ;                                            /* 0x000000000000794d */
                                                                                     /* 0x000fea0003800000 */
        /*0340*/                   BRA 0x340;                                        /* 0xfffffff000007947 */
                                                                                     /* 0x000fc0000383ffff */
        /*0350*/                   NOP;                                              /* 0x0000000000007918 */
                                                                                     /* 0x000fc00000000000 */
        /*0360*/                   NOP;                                              /* 0x0000000000007918 */
                                                                                     /* 0x000fc00000000000 */
        /*0370*/                   NOP;                                              /* 0x0000000000007918 */
                                                                                     /* 0x000fc00000000000 */
		..........



Fatbin ptx code:
================
arch = sm_75
code version = [8,5]
host = linux
compile_size = 64bit
compressed
ptxasOptions = 

Fatbin elf code:
================
arch = sm_75
code version = [1,7]
host = linux
compile_size = 64bit

	code for sm_75

Fatbin ptx code:
================
arch = sm_75
code version = [8,5]
host = linux
compile_size = 64bit
compressed
ptxasOptions = 
